

<section class="section">

            <div class="card">
                <div class="card-body" >
                    <div style="margin-left: 50px">
                        <h6 class="card-title" style="display: flex;align-items: center;justify-content: center;font-size: 30px">Certification</h6>


                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                        <label for="inputText" class="col-sm-4 col-form-label">Titre Cours </label>
                        <div class="col-sm-10">
                            {{ form_widget(form.titrecours,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.titrecours) }}

                        </div>

                        <label for="inputText" class="col-sm-4 col-form-label">Titre Teste</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.titretest,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.titretest) }}

                        </div>

                        <label for="inputText" class="col-sm-4 col-form-label">Lien</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.lien,{'attr':{'class':'form-control'}}) }}

                        </div>
                        </br>
                        <table style="display: flex;align-items: center;justify-content: center;">
                            <tr>
                                <td>
                        <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">
                            {{ form_widget(form.Valider,{'attr':{'class':'btn btn-success'}}) }}
                        </div>
                        {{ form_end(form) }}<!-- End General Form Elements -->
                                </td>
                                <td>

                                </td>
                                <td>
                        <form method="post" action="{{ path('app_certification_delete', {'id': certification.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ certification.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                                </td>
                            </tr>
                        </table>
                        <a href="{{ path('app_certification_index') }}" class="btn btn-outline-dark">Retour</a>

                    </div>
                </div>
            </div>

        </div>



</section>

{#
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
#}