{% extends 'utilisateur/Dashbord/base.html.twig' %}



{% block body %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Certification</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Accueil</a></li>
                <li class="breadcrumb-item active">Certification</li>
            </ol>
        </nav>
    </div><!-
<!-- Left side columns -->
<section class="section dashboard">
        <div class="row">

<div class="col-lg-8">
    <div class="row">

        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">


                <div class="card-body">
                    <h5 class="card-title">Ajouter <span>|Cette Semaine</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-calendar-date"></i>
                        </div>
                        <div class="ps-3">
                            <h5>Nombre :</h5>
                            <span class="text-success small pt-1 fw-bold">{{ sem|length }}</span> <span class="text-muted small pt-2 ps-1">Certificat</span>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- End Sales Card -->

        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">


                <div class="card-body">
                    <h5 class="card-title">Affecter <span>| Totale</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-check-all"></i>
                        </div>
                        <div class="ps-3">
                            <h5>Nombre :</h5>
                            <span class="text-success small pt-1 fw-bold">{{ badge }}</span> <span class="text-muted small pt-2 ps-1">Certificat</span>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- End Revenue Card -->

        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">

            <div class="card info-card customers-card">



                <div class="card-body">
                    <h5 class="card-title">Moyenne <span>| Par Candidat</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h5>Moyenne :</h5>
                            <span class="text-danger small pt-1 fw-bold">{{ moy }}</span> <span class="text-muted small pt-2 ps-1">/ Candidat</span>

                        </div>
                    </div>

                </div>
            </div>

        </div><!-- End Customers Card -->
    </div>




        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Certification :</h5>
                <input type="text" id="search" name="searchValue" >
                <div class="block-content block-content-full" style="overflow-x:auto;" >
<br>

<table id="myTable" class="table" style="width: 50%" >

            <thead>
            <tr>
                <th style="width: 10%;" class="d-none d-sm-table-cell"  >Titrecours</th>
                <th style="width: 10%;">Dateajout</th>
                <th style="width: 10%;">Lien</th>
                <th style="width: 10%;">action</th>
                <th style="width: 10%;">Quiz</th>
                <th style="width: 2%;"></th>
            </tr>
        </thead>
        <tbody id="all">
        {% for certification in certifications %}
            <tr>
                <td>{{ certification.titreCours }}</td>
                <td>{{ certification.dateAjout }}</td>
                <td>{{ certification.lien }}</td>
                <td>
                    <a href="{{ path('app_certification_edit', {'id': certification.id}) }}">Modifier</a>
                </td>
                <td>
                    {% if certification.id_quiz|length>0 %}
                        <a href="{{ path('app_quiz_afficher', {'id': certification.id}) }}">Changer</a>

                        </td><td><a style="color: #00a656"  class="bi bi-check2-circle"></a></td>

                    {% else %}
                        <a href="{{ path('app_quiz_afficher', {'id': certification.id}) }}">Affecter</a>

                        </td>
                        <td><a style="color: #8c1227"  class="bi bi-x-circle"></a></td>
                    {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="searchtab">
        </tbody>
    </table>
                </div>
    <a href="{{ path('app_certification_new') }}">Cree Certification</a>
            </div>
        </div>
    </div>

            <script
                    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
            </script>


            <script>
                $( document ).ready(function() {
                    $("#search").keyup(function(e){
                        var value = $(this).val();
                        $.ajax({
                            url : "{{ path('searchcertif') }}",
                            type : 'GET',
                            data: {
                                'searchValue' : value
                            },
                            success : function(retour){
                                if(retour)
                                {
                                    $('#myTable tbody#searchtab').empty();
                                    $.each(JSON.parse(retour.replace('<<','')), function(i,obj) {
                                        $('#search').css({backgroundColor:"#E0F8E9"})
                                        $('#myTable tbody#all').hide();
                                        if (obj.id_quiz|length>0) {
                                            $('#myTable tbody#searchtab').append('<tr><td>'+obj.titreCours+'</td><td>'+obj.dateAjout+'</td><td>'+obj.lien+'</td><td><a href="/certification/'+obj.id+'/edit">Modifier</a></td><td><a href="/certification/aff/' + obj.id + '">Changer</a></td><td><a style="color: #00a656" class="bi bi-check2-circle"></a></td></tr>');
                                         }
                                         else {
                                            $('#myTable tbody#searchtab').append('<tr><td>'+obj.titreCours+'</td><td>'+obj.dateAjout+'</td><td>'+obj.lien+'</td><td><a href="/certification/'+obj.id+'/edit">Modifier</a></td><td><a href="/certification/aff/' + obj.id + '">Affecter</a></td><td><a style="color: #8c1227" class="bi bi-x-circle"></a></td></tr>');
                                         }
                                    });
                                }
                                else
                                {

                                    $('#myTable tbody#all').show();
                                    $('#myTable tbody#search').empty();
                                    $('#myTable tbody#search').fadeIn('fast');
                                }
                            },
                        });
                        $('#search').css({backgroundColor:"#FFECDF"})
                        return false;
                    });
                });
            </script>


        <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Certification Graphique</h5>

                <!-- Column Chart -->
                <div id="columnChart"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#columnChart"), {
                            series: [
                                {

                                    name: 'Candidats',
                                    data: [{{ uc }}]

                                },
                                {% for s in stat %}
                                {
                                name: '{{ s.titreCours }}',
                                data: [{{ s.nb }}]
                                },
                                 {% endfor %}
                            ],
                            chart: {
                                type: 'bar',
                                height: 350
                            },
                            plotOptions: {
                                bar: {
                                    horizontal: false,
                                    columnWidth: '55%',
                                    endingShape: 'rounded'
                                },
                            },
                            dataLabels: {
                                enabled: false
                            },
                            stroke: {
                                show: true,
                                width: 2,
                                colors: ['transparent']
                            },
                            xaxis: {
                                categories: [' '],
                            },
                            yaxis: {
                                title: {
                                    text: 'Les Certificat obtenu / nbr Candidat'
                                }
                            },
                            fill: {
                                opacity: 1
                            },
                            tooltip: {
                                y: {

                                }
                            }
                        }).render();
                    });
                </script>
                <!-- End Column Chart -->

            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}