{% block body %}
    <section class="section">
                    <div class="card" style="margin-top: 120px">
                        <div class="card-body">
                            <h5 class="card-title">compléter les champs</h5>

                            <!-- General Form Elements -->
                            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

                            <label for="inputText" class="col-sm-4 col-form-label">NOM</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'Taper votre nom'}}) }}
                                {{ form_errors(form.nom,{'attr':{'class':'form-control','placeholder':'Taper votre nom'}}) }}

                            </div>


                            <label for="inputText" class="col-sm-4 col-form-label">LOGO</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.logo,{'attr':{'class':'form-control'}}) }}
                            </div>
                            </br>
                            <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">
                                {{ form_widget(form.Valider,{'attr':{'class':'btn btn-outline-success'}}) }}
                            </div>


                            {{ form_end(form) }}<!-- End General Form Elements -->

                        </div>
                    </div>



        </div>
        </div>
    </section>
{% endblock %}
