{% extends 'utilisateur/Dashbord/base.html.twig' %}

{% block body %}
    <section class="section">
            <div style="display: flex;align-items: center;justify-content:right;margin-top: 100px">
                <div class="col-lg-6">
                    <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter Administrateur</h5>

                        <!-- General Form Elements -->
                        {{ form_start(form) }}

                                <label for="inputText" class="col-sm-4 col-form-label">Nom</label>
                                <div class="col-sm-10">
                                    {{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
                                </div>


                            <label for="inputText" class="col-sm-4 col-form-label">Prenom</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
                            </div>

                            <label for="inputText" class="col-sm-4 col-form-label">Email</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                            </div>

                            <label for="inputText" class="col-sm-4 col-form-label">Password</label>
                            <div class="col-sm-10">
                                {{ form_widget(form.password,{'attr':{'class':'form-control'}}) }}
                            </div>
                        <label for="inputText" class="col-sm-4 col-form-label">Photo</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.photo,{'attr':{'class':'form-control'}}) }}
                        </div>


                    </br>
                            <div class="col-sm-10" style="display: flex;align-items: center;justify-content: center">
                                {{ form_widget(form.ajouter,{'attr':{'class':'btn btn-primary'}}) }}
                            </div>


                        {{ form_end(form) }}<!-- End General Form Elements -->

                    </div>
                </div>
                    </div>
                </div>
            </div>


            </div>
        </div>
    </section>
{% endblock %}
{# {{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}