<html class="no-js" lang="zxx">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job.tn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="{{ asset('assets/css2.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('assets/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/LineIcons.2.0.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/tiny-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/glightbox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/main.css') }}">
    <style></style>
    <style></style>
    <style>
    </style>
    <style type="text/css"> @font-face {
            font-family: Roboto;
            src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
        }</style>

    <script type="text/javascript" async="" src="{{ asset('assets/ga.js.téléchargé') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/001.js.téléchargé') }}"></script>
    <script type="text/javascript" async="" src="{{ asset('assets/taas') }}"></script>
</head>
<body>


<header class="header">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand logo" href="http://127.0.0.1:8000/">
                            <img class="logo1" src="{{ asset('assets/img/logo1.png') }}" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="active" href="http://127.0.0.1:8000/">Accueil</a>

                                </li>


                                <li class="nav-item"><a href="https://www.facebook.com/Job-TN-102084759380863/">Contact </a></li>
                            </ul>
                        </div>

                        <div class="button">
                            <a href="{{ path('app_login') }}" data-toggle="modal" class="login">Connecter</a>
                            <a href="{{ path('app_register') }}" data-toggle="modal" class="btn">S'inscrire</a>
                        </div>
                    </nav>

                </div>
            </div>

        </div>

    </div>

</header>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="single-slider tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                <div class="container">
                    <div class="row ">

                        <div class="col-lg-6 co-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".ss" style="visibility: visible; animation-name: fadeInRight;margin-top: -70px;margin-left: 100px;">
                                <img src="{{ asset('assets/img/im5.png') }}" alt="#" width="460px">

                            </div>
                        </div>
                        <div class="col-lg-6 co-12">
                            <div class="inner-content">
                                <div class="hero-text" style="margin-top: 120px" >
                                    <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Vous aider à obtenir le
                                        meilleur emploi qui vous<br>   convient
                                    </h1>JOBTN vous donne l'opportunité de commencer votre carrière professionel
                                    <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                    </p>
                                    <div class="button wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                        <a href="http://127.0.0.1:8000/login" class="btn">Publier Candidature</a>
                                        <a href="http://127.0.0.1:8000/login" class="btn btn-alt">Afficher liste des offres</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-slider tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                <div class="container">
                    <div class="row ">

                        <div class="col-lg-6 co-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".ss" style="visibility: visible; animation-name: fadeInRight;;margin-left: 20px">
                                <img src="{{ asset('assets/img/mmm.png') }}" alt="#" width="1000px">

                            </div>
                        </div>
                        <div class="col-lg-6 co-12">
                            <div class="inner-content">
                                <div class="hero-text" style="margin-top: 120px;margin-left: 250px"  >

                                    <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Faites connaître<br>votre projet
                                    </h1>
                                    <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Faites connaître votre projet facilement grâce à nos publicités<br>tout le monde peut publier sa publicité sur notre plateformes
                                    </p>
                                    <div class="button wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                        <a href="http://127.0.0.1:8000/login" class="btn">Publier Publicité</a>
                                        <a href="http://127.0.0.1:8000/login" class="btn btn-alt">Consulter nos Pack</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-slider tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 co-12">
                            <div class="inner-content">
                                <div class="hero-text" style="margin-top: 120px;margin-left: 120px">
                                    <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Créez votre événement<br>professionnel
                                    </h1>
                                    <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Créez votre propre événement et invitez tout le monde.
                                    </p>
                                    <div class="button wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                        <a href="http://127.0.0.1:8000/login" class="btn">créer un événement</a>
                                        <a href="http://127.0.0.1:8000/login" class="btn btn-alt">Participé à un événement</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 co-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".ss" style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{{ asset('assets/img/im3.png') }}" alt="#" width="400px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-slider tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 co-12">
                            <div class="inner-content">
                                <div class="hero-text" style="margin-top: 120px;margin-left: 120px">
                                    <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Présentez des services et des offres
                                        <br>à la hauteur des attentes de client
                                    </h1>
                                    <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Être à l’écoute des clients et transparent par rapport aux tarifs


                                    </p>
                                    <div class="button wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                        <a href="http://127.0.0.1:8000/login" class="btn">Avis</a>
                                        <a href="http://127.0.0.1:8000/login" class="btn btn-alt">Reclamation</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 co-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".ss" style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{{ asset('assets/img/im4.png') }}" alt="#" width="400px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-slider tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                <div class="container">
                    <div class="row ">
                        <div class="col-lg-6 co-12">
                            <div class="inner-content">
                                <div class="hero-text" style="margin-top: 120px;margin-left: 120px">
                                    <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Afin de créer une expérience d'apprentissage   <br> engageante,
                                    </h1>
                                    <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">le rôle d'instructeur est facultatif, mais le rôle d'apprenant est essentiel.
                                    </p>
                                    <div class="button wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                        <a href="http://127.0.0.1:8000/login" class="btn">Soyez instructeur</a>
                                        <a href="http://127.0.0.1:8000/login" class="btn btn-alt">Soyez étudiant</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 co-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".ss" style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{{ asset('assets/img/im2.png') }}" alt="#" width="400px">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-slider tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                <div class="container">
                    <div class="row ">

                        <div class="col-lg-6 co-12">
                            <div class="hero-image wow fadeInRight" data-wow-delay=".ss" style="visibility: visible; animation-name: fadeInRight;">
                                <img src="{{ asset('assets/img/im6.png') }}" alt="#" width="400px" style="margin-bottom: 150px;;margin-left: 120px">

                            </div>
                        </div>
                        <div class="col-lg-6 co-12">
                            <div class="inner-content">
                                <div class="hero-text" style="margin-top: 120px;margin-left: 120px">
                                    <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Chaque difficulté rencontrée doit être  <br>l’occasion d’un nouveau progrès
                                    </h1>
                                    <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Si vous n’essayez jamais, vous ne réussirez jamais, mais si vous essayez, vous risquez de vous étonner vous-même
                                    </p>
                                    <div class="button wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                        <a href="http://127.0.0.1:8000/login" class="btn">Publier un offre</a>
                                        <a href="http://127.0.0.1:8000/login" class="btn btn-alt">Passer un entretien</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" >
        <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #0a53be"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #0a53be"></span>
        <span class="sr-only"></span>
    </a>
</div>

<section class="find-job section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s"
                          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Emplois tendance</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Parcourir les offres récents</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"
                       style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Vous aider à obtenir la meilleure offre qui vous
                        convient</p>
                </div>
            </div>
        </div>
        <div class="single-head">

            {% set i =0 %}


            <div class="row">
                {% for f in o %}
                {% if i<8 %}
                <div class="col-lg-6 col-12">

                    <div class="single-job wow fadeInUp" data-wow-delay=".3s"
                         style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img style=" height: 60px;width: 60px" src="{{ asset('assets/img1.png') }}">
                        </div>
                        <div class="job-content">
                            <h4><a href="{{ path('app_login') }}">{{ f.titre }}</a></h4>
                            <p>{{ f.description }} .</p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="{{ path('app_login') }}">
                                        winbrans.com</a></li>
                                <li><i class="lni lni-dollar"></i> {{ f.salaire }}</li>
                                <li><i class="lni lni-map-marker"></i> {{ f.lieu }}</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="{{ path('app_login') }}">Postuler</a></li>
                                <li><span>{{ f.typeoffre }}</span></li>
                            </ul>
                        </div>
                    </div>
        </div>
                {% endif %}
                    {% set i=i+1 %}
                {% endfor %}

    </div>


        </div>
    </div>
</section>


<section class="about-us section">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-10 col-12">
                <div class="content-left wow fadeInLeft" data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none;">
                    <div calss="row">
                        <div calss="col-lg-6 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <img class="single-img" src="{{ asset('assets/img/small1.jpg') }}" alt="#">
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <img class="single-img mt-50" src="{{ asset('assets/img/small2.jpg') }}" alt="#">
                                </div>
                            </div>
                        </div>
                        <div calss="col-lg-6 col-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-6">
                                    <img class="single-img minus-margin" src="{{ asset('assets/img/small3.jpg') }}" alt="#">
                                </div>
                                <div class="col-lg-6 col-md-6 col-6">
                                    <div class="media-body">
                                        <i class="lni lni-checkmark"></i>
                                        <h6 class="">Job alert!</h6>
                                        <p class="">104 new jobs are available in this week!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-10 col-12">
                <div class="content-right wow fadeInRight" data-wow-delay=".5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none;">
                    <h2>
                        Vous aider à obtenir le
                        meilleur emploi qui vous convient <br>

                    </h2>

                    <div class="single-list">
                        <i class="lni lni-grid-alt"></i>

                        <div class="list-bod">
                            <h5>#1 Site d'emplois dans le TN</h5>
                            <p>Tirez parti des cadres agiles pour fournir un synopsis robuste pour des aperçus de haut niveau. Itératif</p>
                        </div>
                    </div>

                    <div class="single-list">
                        <i class="lni lni-search"></i>

                        <div class="list-bod">
                            <h5>Recherche transparente</h5>
                            <p>Capitaliser sur des fruits à portée de main pour identifier une activité à valeur ajoutée approximative à tester en bêta.</p>
                        </div>
                    </div>

                    <div class="single-list">
                        <i class="lni lni-stats-up"></i>

                        <div class="list-bod">
                            <h5>Embauché dans les meilleures entreprises</h5>
                            <p>Gestion du changement opérationnel du podcasting à l'intérieur des workflows à établir.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">Plan tarifaire</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">Notre plan tarifaire</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                        Il existe de nombreuses variantes de passages d'annonces disponibles, mais la majorité ont subi des modifications sous une forme ou une autre.                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-table wow fadeInUp" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none;">
                    <div class="table-head">
                        <h4 class="title">Pack platinum</h4>
                        <div class="price">
                            <p class="amount">DT 30<span class="duration">+ 1 Pack gratuit aprés 6 abonnements </span></p>
                        </div>
                    </div>

                    <ul class="table-list">
                        <li>Photo Ads</li>
                        <li>Durée 3 Jours</li>
                        <li>Photo Volume 400Ko</li>
                    </ul>

                    <div class="button">
                        <a class="btn" href="{{ path('app_login') }}">Consommer Pack</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-table wow fadeInUp" data-wow-delay=".4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none;">
                    <div class="table-head">
                        <h4 class="title">PACK Argent</h4>
                        <div class="price">
                            <p class="amount">DT 50<span class="duration">+ 1 Pack gratuit aprés 6 abonnements</span></p>
                        </div>
                    </div>

                    <ul class="table-list">
                        <li>Gif Ads</li>
                        <li>Durée 10 Jours</li>
                        <li>Gif Volume 10Mo</li>
                    </ul>

                    <div class="button">
                        <a class="btn" href="{{ path('app_login') }}">Consommer Pack</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-table wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                    <div class="table-head">
                        <h4 class="title">PACK OR</h4>
                        <div class="price">
                            <p class="amount">DT 100<span class="duration">+ 1 Pack gratuit aprés 6 abonnements</span></p>
                        </div>
                    </div>

                    <ul class="table-list">
                        <li>Gif + Click Ads</li>
                        <li>Durée 30 Jours</li>
                        <li>Gif Volume 40Mo</li>
                    </ul>

                    <div class="button">
                        <a class="btn" href="{{ path('app_login') }}">Consommer Pack</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog max-width-px-840 position-relative">
        <button type="button"
                class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
                data-dismiss="modal"><i class="lni lni-close"></i></button>
        <div class="login-modal-main">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row">
                        <div class="heading">
                            <h3>Create a free Account <br> Today</h3>
                            <p>Create your account to continue <br> and explore new jobs.</p>
                        </div>
                        <div class="social-login">
                            <ul>
                                <li><a class="linkedin" href="{{ path('app_login') }}"><i
                                                class="lni lni-linkedin-original"></i> Import from LinkedIn</a></li>
                                <li><a class="google" href="{{ path('app_login') }}"><i
                                                class="lni lni-google"></i> Import from
                                        Google</a></li>
                                <li><a class="facebook" href=""><i
                                                class="lni lni-facebook-original"></i> Import from Facebook</a></li>
                            </ul>
                        </div>
                        <div class="or-devider">
                            <span>Or</span>
                        </div>
                        <form action="">
                            <div class="form-group">
                                <label for="email" class="label">E-mail</label>
                                <input type="email" class="form-control" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Confirm Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault">Agree to the <a
                                                href="{{ path('app_login') }}">Terms &amp; Conditions</a></label>
                                </div>
                            </div>
                            <div class="form-group mb-8 button">
                                <button class="btn ">Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="client-logo-section">
    <div class="container">
        <div class="client-logo-wrapper">
            <div class="tns-outer" id="tns1-ow"><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">13 to 18</span>  of 9</div><div id="tns1-mw" class="tns-ovh"><div class="tns-inner" id="tns1-iw"><div class="tns-outer" id="tns1-ow"><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">13 to 16</span>  of 31</div><div id="tns1-mw" class="tns-ovh"><div class="tns-inner" id="tns1-iw"><div class="client-logo-carousel d-flex align-items-center justify-content-between  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns1" style="transform: translate3d(-27.907%, 0px, 0px);"><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/IBM.png') }}" alt="#" width="20px">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned" id="tns1-item1" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/micro.jpg') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned" id="tns1-item2" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/meta.jpg') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned" id="tns1-item3" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/skype.png') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned" id="tns1-item4" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/sam.png') }}" alt="#">
                                        </div><div  style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned" id="tns1-item5" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/mi.png') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned tns-slide-active" id="tns1-item6">
                                            <img src="{{ asset('assets/img/apple.jpg') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned tns-slide-active" id="tns1-item7">
                                            <img src="{{ asset('assets/img/wwww.png') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned tns-slide-active" id="tns1-item8">
                                            <img src="{{ asset('assets/img/esprit.png') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned tns-slide-active" id="tns1-item9">
                                            <img src="{{ asset('assets/img/asus.png') }}" alt="#">
                                        </div><div style="height: 140px;width: 140px" class="client-logo tns-item tns-slide-cloned" id="tns1-item10" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/MSI.png') }}" alt="#">
                                        </div>
                                        <div style="height: 140px;width: 140px" class="client-logo tns-item" id="tns1-item1" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/mytek.png') }}" alt="#">
                                        </div>
                                        <div style="height: 140px;width: 140px" class="client-logo tns-item" id="tns1-item2" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/Logo-delice-Holding.png') }}" alt="#">
                                        </div>
                                        <div style="height: 140px;width: 140px" class="client-logo tns-item" id="tns1-item3" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/téléchargement.png') }}" alt="#">
                                        </div>
                                        <div style="height: 140px;width: 140px" class="client-logo tns-item" id="tns1-item4" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/Ooredoo.svg') }}" alt="#">
                                        </div>
                                        <div style="height: 140px;width: 140px" class="client-logo tns-item" id="tns1-item5" aria-hidden="true" tabindex="-1">
                                            <img src="{{ asset('assets/img/pngegg.png') }}" alt="#">
                                        </div>

                                    </div></div></div></div></div></div></div>
        </div>
    </div>
</div>

<footer class="footer">


    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">

                    <div class="f-about single-footer">
                        <div class="logo">
                            <a href="{{ path('app_login') }}"><img src="{{ asset('assets/img/job.tn.png') }}" alt="Logo"></a>
                        </div>
                        <p>Start building your creative website with our awesome template Massive.</p>
                        <ul class="contact-address">
                            <li><span>Address:</span> 555 Wall Street, USA, NY</li>
                            <li><span>Email:</span> example@apus.com</li>
                            <li><span>Call:</span> 555-555-1234</li>
                        </ul>
                        <div class="footer-social">
                            <ul>
                                <li><a href="{{ path('app_login') }}"><i
                                                class="lni lni-facebook-original"></i></a></li>
                                <li><a href="{{ path('app_login') }}"><i
                                                class="lni lni-twitter-original"></i></a></li>
                                <li><a href="{{ path('app_login') }}"><i
                                                class="lni lni-linkedin-original"></i></a></li>
                                <li><a href="{{ path('app_login') }}"><i class="lni lni-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">

                            <div class="single-footer f-link">
                                <h3>For Candidates</h3>
                                <ul>
                                    <li><a href="{{ path('app_login') }}">User Dashboard</a></li>
                                    <li><a href="{{ path('app_login') }}">CV Packages</a></li>
                                    <li><a href="{{ path('app_login') }}">Jobs Featured</a></li>
                                    <li><a href="{{ path('app_login') }}">Jobs Urgent</a></li>
                                    <li><a href="{{ path('app_login') }}">Candidate List</a></li>
                                    <li><a href="{{ path('app_login') }}">Candidates Grid</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-12">

                            <div class="single-footer f-link">
                                <h3>For Employers</h3>
                                <ul>
                                    <li><a href="{{ path('app_login') }}">Post New</a></li>
                                    <li><a href="{{ path('app_login') }}">Employer List</a></li>
                                    <li><a href="{{ path('app_login') }}">Employers Grid</a></li>
                                    <li><a href="{{ path('app_login') }}">Job Packages</a></li>
                                    <li><a href="{{ path('app_login') }}">Jobs Listing</a></li>
                                    <li><a href="{{ path('app_login') }}">Jobs Featured</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-12">

                            <div class="single-footer newsletter">
                                <h3>Join Our Newsletter</h3>
                                <p>Subscribe to get the latest jobs posted, candidates...</p>
                                <form action="{{ path('app_login') }}" method="get" target="_blank"
                                      class="newsletter-inner">
                                    <input name="EMAIL" placeholder="Your email address" class="common-input"
                                           onfocus="this.placeholder = &#39;&#39;"
                                           onblur="this.placeholder = &#39;Your email address&#39;" required=""
                                           type="email">
                                    <div class="button">
                                        <button class="btn">Subscribe Now! <span class="dir-part"></span></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="left">
                            <p>Copyright © 2022.Company name All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="right">
                            <ul>
                                <li><a href="{{ path('app_login') }}">Terms of use</a></li>
                                <li><a href="{{ path('app_login') }}"> Privacy Policy</a></li>
                                <li><a href="{{ path('app_login') }}">Faq</a></li>
                                <li><a href="{{ path('app_login') }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>


<a href="{{ path('app_login') }}" class="scroll-top btn-hover" style="display: none;">
    <i class="lni lni-chevron-up"></i>
</a>

<script src="{{ asset('assets/bootstrap.min.js.téléchargé') }}"></script>
<script src="{{ asset('assets/wow.min.js.téléchargé') }}"></script>
<script src="{{ asset('assets/tiny-slider.js.téléchargé') }}"></script>
<script src="{{ asset('assets/glightbox.min.js.téléchargé') }}"></script>
<script src="{{ asset('assets/main.js.téléchargé') }}"></script>
<script type="text/javascript">
    //====== Clients Logo Slider
    tns({
        container: '.client-logo-carousel',
        slideBy: 'page',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 15,
        nav: false,
        controls: false,
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 2,
            },
            768: {
                items: 3,
            },
            992: {
                items: 4,
            },
            1170: {
                items: 6,
            }
        }
    });
    //========= testimonial
    tns({
        container: '.testimonial-slider',
        items: 1,
        slideBy: 'page',
        autoplayButtonOutput: false,
        autoplay: true,
        mouseDrag: true,
        gutter: 0,
        nav: false,
        controls: true,
        controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 1,
            },
            768: {
                items: 1,
            },
            992: {
                items: 1,
            },
            1170: {
                items: 1,
            }
        }
    });
    //======== Home Slider
    var slider = new tns({
        container: '.home-slider',
        slideBy: 'page',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 0,
        items: 1,
        nav: false,
        controls: true,
        controlsText: [
            '<i class="lni lni-arrow-left prev"></i>',
            '<i class="lni lni-arrow-right next"></i>'
        ],
        responsive: {
            1200: {
                items: 1,
            },
            992: {
                items: 1,
            },
            0: {
                items: 1,
            }
        }
    });
</script>

<iframe src="{{ asset('assets/saved_resource.html') }}" style="display: none;">

</iframe>
</body>
</html>