{% extends 'utilisateur/client/base.html.twig' %}
{% block body %}
<section class="hero-area">
    <div class="hero-inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 co-12">
                    <div class="inner-content">
                        <div class="hero-text">
                            <h1 class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Find Your Career <br>to Make a Better Life</h1>
                            <p class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                Creating a beautiful job website is not easy <br>
                                always. To make your life easier, we are<br>
                                introducing Jobcamp template.
                            </p>
                        </div>
                        <div class="job-search-wrap-two mt-50 wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                            <div class="job-search-form">
                                <form action="#">
                                    <div class="single-field-item keyword">
                                        <label for="keyword">What</label>
                                        <input id="keyword" placeholder="What jobs you want?" name="keyword" type="text">
                                    </div>

                                    <div class="single-field-item location">
                                        <label for="location">Where</label>
                                        <input id="location" class="input-field input-field-location" placeholder="Location" name="location" type="text">
                                    </div>

                                    <div class="submit-btn">
                                        <button class="btn" type="submit">Search</button>
                                    </div>
                                </form>
                            </div>
                            <div class="trending-keywords mt-30">
                                <div class="keywords style-two">
                                    <span class="title">Popular Keywords:</span>
                                    <ul>
                                        <li><a href="#">Administrative</a></li>
                                        <li><a href="#">Android</a></li>
                                        <li><a href="#">app</a></li>
                                        <li><a href="#">ASP.NET</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 co-12">
                    <div class="hero-video-head wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <div class="video-inner">
                            <img src="{{asset('assets/hero-image.png')}}" alt="#">
                            <a href="javascript:;" class="glightbox hero-video"><i class="lni lni-play"></i></a>

                            <div class="promo-video">
                                <div class="waves-block">
                                    <div class="waves wave-1"></div>
                                    <div class="waves wave-2"></div>
                                    <div class="waves wave-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>














<section class="find-job section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Hot Jobs</span>
                    <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Browse Recent Jobs</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">There are many variations of passages of Lorem
                        Ipsum available, but the majority have suffered alteration in some form.</p>
                </div>
            </div>
        </div>
        <div class="single-head">
            <div class="row">
                <div class="col-lg-6 col-12">

                    <div class="single-job wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img1.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Software Engineer</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html#"> winbrans.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> New York</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>full time</span></li>
                            </ul>
                        </div>
                    </div>


                    <div class="single-job wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img2.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Graphics Design</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html#"> designhub.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> Washington, USA</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>Intern</span></li>
                            </ul>
                        </div>
                    </div>


                    <div class="single-job wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img3.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Ui/Ux Design</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html#"> uddesign.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> Cupertino, USA</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>Part Time</span></li>
                            </ul>
                        </div>
                    </div>


                    <div class="single-job wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img4.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Web Developer</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html#"> webinner.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> Delaware, USA</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>Intern</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-12">

                    <div class="single-job wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img7.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Digital Marketer</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html#"> marketers.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> New York, USA</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>Part Time</span></li>
                            </ul>
                        </div>
                    </div>


                    <div class="single-job wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img5.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Sales Manager</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html#"> winbrans.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> Delaware, USA</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>full time</span></li>
                            </ul>
                        </div>
                    </div>


                    <div class="single-job wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img6.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Product Designer</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html"> winbrans.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> New York, USA</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>full time</span></li>
                            </ul>
                        </div>
                    </div>


                    <div class="single-job wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <div class="job-image">
                            <img src="{{asset('assets/img8.png')}}" >
                        </div>
                        <div class="job-content">
                            <h4><a href="https://157781.cc/job-details.html">Android Developer</a></h4>
                            <p>We are looking for Enrollment Advisors who are looking to take 30-35 appointments per
                                week. All leads are pre-scheduled. </p>
                            <ul>
                                <li><i class="lni lni-website"></i><a href="https://157781.cc/index2.html#"> androidplex.com</a></li>
                                <li><i class="lni lni-dollar"></i> $20k - $25k</li>
                                <li><i class="lni lni-map-marker"></i> Cupertino, USA</li>
                            </ul>
                        </div>
                        <div class="job-button">
                            <ul>
                                <li><a href="https://157781.cc/job-details.html">Apply</a></li>
                                <li><span>Part Time</span></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="pagination center wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <ul class="pagination-list">
                            <li><a href="https://157781.cc/index2.html#"><i class="lni lni-arrow-left"></i></a></li>
                            <li class="active"><a href="https://157781.cc/index2.html#">1</a></li>
                            <li><a href="https://157781.cc/index2.html#">2</a></li>
                            <li><a href="https://157781.cc/index2.html#">3</a></li>
                            <li><a href="https://157781.cc/index2.html#">4</a></li>
                            <li><a href="https://157781.cc/index2.html#"><i class="lni lni-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





<section class=" testimonials">
    <img class="patern1 wow fadeInRight" data-wow-delay=".3s" src="{{asset('assets/patern1.png')}}"  style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
    <img class="patern2 wow fadeInLeft" data-wow-delay=".5s" src="{{asset('assets/patern1.png')}}"  style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="section-title align-left wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <span>What saye's Our Clients</span>
                    <h2>Our Testimonials</h2>
                </div>
                <div class="testimonial-inner-head wow fadeInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <div class=" testimonial-inner">
                        <div class="tns-outer" id="tns2-ow"><div class="tns-controls" aria-label="Carousel Navigation" tabindex="0"><button type="button" data-controls="prev" tabindex="-1" aria-controls="tns2"><i class="lni lni-arrow-left"></i></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns2"><i class="lni lni-arrow-right"></i></button></div><div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">3</span>  of 4</div><div id="tns2-mw" class="tns-ovh"><div class="tns-inner" id="tns2-iw"><div class="testimonial-slider  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" id="tns2" style="transform: translate3d(-33.3333%, 0px, 0px);"><div class="single-testimonial tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                            <div class="quote">
                                                <i class="lni lni-quotation"></i>
                                            </div>
                                            <p>" I just brought it and i love it. Lorem Ipsum is simply dummy text of the and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                ever
                                                since the 1500s." </p>
                                            <div class="bottom">
                                                <div class="clien-image">
                                                    <img src="{{asset('assets/testi4.jpg')}}" >
                                                </div>
                                                <h4 class="name">Goro Chala <span>CEO - Dream App</span></h4>
                                            </div>
                                        </div>

                                        <div class="single-testimonial tns-item" id="tns2-item0" aria-hidden="true" tabindex="-1">
                                            <div class="quote">
                                                <i class="lni lni-quotation"></i>
                                            </div>
                                            <p>" I just brought it and i love it. Lorem Ipsum is simply dummy text of the and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                ever
                                                since the 1500s." </p>
                                            <div class="bottom">
                                                <div class="clien-image">
                                                    <img src="{{asset('/testi1.jpg')}}" >
                                                </div>
                                                <h4 class="name">Musharof Chowdhury <span>CEO - Graygrids</span></h4>
                                            </div>
                                        </div>


                                        <div class="single-testimonial tns-item tns-slide-active" id="tns2-item1">
                                            <div class="quote">
                                                <i class="lni lni-quotation"></i>
                                            </div>
                                            <p>" I just brought it and i love it. Lorem Ipsum is simply dummy text of the and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                ever
                                                since the 1500s." </p>
                                            <div class="bottom">
                                                <div class="clien-image">
                                                    <img src="{{asset('assets/testi2.jpg')}}" >
                                                </div>
                                                <h4 class="name">Naimur Rahman <span>CEO - Wpthemes Grid</span></h4>
                                            </div>
                                        </div>


                                        <div class="single-testimonial tns-item" id="tns2-item2" aria-hidden="true" tabindex="-1">
                                            <div class="quote">
                                                <i class="lni lni-quotation"></i>
                                            </div>
                                            <p>" I just brought it and i love it. Lorem Ipsum is simply dummy text of the and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                ever
                                                since the 1500s." </p>
                                            <div class="bottom">
                                                <div class="clien-image">
                                                    <img src="{{asset('assets/testi3.jpg')}}" >
                                                </div>
                                                <h4 class="name">Karmo kerin<span>CEO - Tredex</span></h4>
                                            </div>
                                        </div>


                                        <div class="single-testimonial tns-item" id="tns2-item3" aria-hidden="true" tabindex="-1">
                                            <div class="quote">
                                                <i class="lni lni-quotation"></i>
                                            </div>
                                            <p>" I just brought it and i love it. Lorem Ipsum is simply dummy text of the and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                ever
                                                since the 1500s." </p>
                                            <div class="bottom">
                                                <div class="clien-image">
                                                    <img src="{{asset('assets/testi4.jpg')}}" >
                                                </div>
                                                <h4 class="name">Goro Chala <span>CEO - Dream App</span></h4>
                                            </div>
                                        </div>

                                        <div class="single-testimonial tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                            <div class="quote">
                                                <i class="lni lni-quotation"></i>
                                            </div>
                                            <p>" I just brought it and i love it. Lorem Ipsum is simply dummy text of the and
                                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                                ever
                                                since the 1500s." </p>
                                            <div class="bottom">
                                                <div class="clien-image">
                                                    <img src="{{asset('assets/testi1.jpg')}}" >
                                                </div>
                                                <h4 class="name">Musharof Chowdhury <span>CEO - Graygrids</span></h4>
                                            </div>
                                        </div></div></div></div></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="testimonial-right wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                    <img src="{{asset('/testimonial-right.png')}}" >
                </div>
            </div>
        </div>
    </div>
</section>





<div class="latest-news-area section">

</div>





<div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog max-width-px-840 position-relative">
        <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal"><i class="lni lni-close"></i></button>
        <div class="login-modal-main">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row">
                        <div class="heading">
                            <h3>Login From Here</h3>
                            <p>Log in to continue your account <br> and explore new jobs.</p>
                        </div>
                        <div class="social-login">
                            <ul>
                                <li><a class="linkedin" href="https://157781.cc/index2.html#"><i class="lni lni-linkedin-original"></i> Log in
                                        with LinkedIn</a></li>
                                <li><a class="google" href="https://157781.cc/index2.html#"><i class="lni lni-google"></i> Log in with
                                        Google</a></li>
                                <li><a class="facebook" href="https://157781.cc/index2.html#"><i class="lni lni-facebook-original"></i> Log in
                                        with Facebook</a></li>
                            </ul>
                        </div>
                        <div class="or-devider">
                            <span>Or</span>
                        </div>
                        <form action="https://157781.cc/">
                            <div class="form-group">
                                <label for="email" class="label">E-mail</label>
                                <input type="email" class="form-control" placeholder="example@gmail.com" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Remember password</label>
                                </div>
                                <a href="https://157781.cc/index2.html" class="font-size-3 text-dodger line-height-reset">Forget Password</a>
                            </div>
                            <div class="form-group mb-8 button">
                                <button class="btn ">Log in
                                </button>
                            </div>
                            <p class="text-center create-new-account">Don’t have an account? <a href="https://157781.cc/index2.html#">Create a free account</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog max-width-px-840 position-relative">
        <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal"><i class="lni lni-close"></i></button>
        <div class="login-modal-main">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row">
                        <div class="heading">
                            <h3>Create a free Account <br> Today</h3>
                            <p>Create your account to continue <br> and explore new jobs.</p>
                        </div>
                        <div class="social-login">
                            <ul>
                                <li><a class="linkedin" href="https://157781.cc/index2.html#"><i class="lni lni-linkedin-original"></i> Import from LinkedIn</a></li>
                                <li><a class="google" href="https://157781.cc/index2.html#"><i class="lni lni-google"></i> Import from
                                        Google</a></li>
                                <li><a class="facebook" href="https://157781.cc/index2.html#"><i class="lni lni-facebook-original"></i> Import from Facebook</a></li>
                            </ul>
                        </div>
                        <div class="or-devider">
                            <span>Or</span>
                        </div>
                        <form action="https://157781.cc/">
                            <div class="form-group">
                                <label for="email" class="label">E-mail</label>
                                <input type="email" class="form-control" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Confirm Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault">Agree to the <a href="https://157781.cc/index2.html#">Terms &amp; Conditions</a></label>
                                </div>
                            </div>
                            <div class="form-group mb-8 button">
                                <button class="btn ">Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}