{% extends 'utilisateur/Dashbord/base.html.twig' %}

{% block body %}
    <div class="card mb-3">
    <div class="card-body" style="margin-left: 350px;margin-top: 80px">
        <h5 class="card-title">Client</h5>

        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Client</a></li>
            </ol>
        </nav>
    </div>
    <div class="row" style="display: flex;align-items: center;margin-left: 350px;">
        <div class="col-lg-12">
            <div class="col-12">
                <div class="col-11,5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Liste des clients</h5>

                    <!-- Default Table -->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Role</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Adresse</th>
                            <th>Domaine</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for f in ffff %}
                            <tr>
                                <td>{{f.role}}</td>
                                <td>{{f.nom}}</td>
                                <td>{{f.prenom}}</td>
                                <td>{{f.email}}</td>
                                <td>{{f.tel}}</td>
                                <td>{{f.adresse}}</td>
                                <td>{{f.domaine}}</td>
                                <td>
                               <button class="bg-danger-light"> <a href="{{path('deleteclient', {'id': f.id}) }}"method="post" >delete</a></button>


                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>

    </div>






    <style>
        body{
            background:#DCDCDC;
            margin-top:20px;
        }
        .card-box {
            padding: 20px;
            border-radius: 3px;
            margin-bottom: 30px;
            background-color: #fff;
        }

        .social-links li a {
            border-radius: 50%;
            color: rgba(121, 121, 121, .8);
            display: inline-block;
            height: 30px;
            line-height: 27px;
            border: 2px solid rgba(121, 121, 121, .5);
            text-align: center;
            width: 30px
        }

        .social-links li a:hover {
            color: #797979;
            border: 2px solid #797979
        }
        .thumb-lg {
            height: 88px;
            width: 88px;
        }
        .img-thumbnail {
            padding: .25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: .25rem;
            max-width: 100%;
            height: auto;
        }
        .text-pink {
            color: #ff679b!important;
        }
        .btn-rounded {
            border-radius: 2em;
        }
        .text-muted {
            color: #98a6ad!important;
        }
        h4 {
            line-height: 22px;
            font-size: 18px;
        }
    </style>




    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"><a href="#custom-modal" class="btn btn-custom waves-effect waves-light mb-4" data-animation="fadein" data-plugin="custommodal" data-overlayspeed="200" data-overlaycolor="#36404a"><i class="mdi mdi-plus"></i> </a></div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row " style="margin-left: 350px">
                {% for f in ffff %}
                <div class="col-lg-4 "style="background-color: #0a58ca">
                    <div class="text-center card-box">
                        <div class="member-card pt-4 pb-4">
                            <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                            <div class="">
                                <h4>{{ f.nom }} {{ f.prenom }}</h4>
                                <p class="text-muted">{{f.role}} <span>| </span><span><a href="#" class="text-pink">{{ f.domaine }}</a></span></p>
                            </div>
                            <ul class="social-links list-inline">
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                            </ul>
                            <a href="{{path('deleteclient', {'id': f.id}) }}"method="post"  class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">Delete</a>
                            <div class="mt-6">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mt-3">
                                            <h4>{{ f.adresse }}</h4>
                                            <p class="mb-0 text-muted">Adresse</p>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mt-3">
                                            <h4>{{ f.email }}</h4>
                                            <p class="mb-0 text-muted">Email</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end col -->
            </div>

        </div>
        <!-- container -->
    </div>

    </div>



{% endblock %}
