{% extends 'utilisateur/test.html.twig' %}

{% block body %}
    <div class="modal fade form-modal show" id="login" tabindex="-1" aria-modal="true" role="dialog" style="padding-right: 17px; display: block;">
        <div class="modal-dialog max-width-px-840 position-relative">
            <button type="button" class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper" data-dismiss="modal">
                <i class="lni lni-close"></i>
            </button>
            <div class="login-modal-main">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="row">
                            <div class="heading">
                                <h3>Login From Here</h3>
                                <p>
                                    Log in to continue your account <br>
                                    and explore new jobs.
                                </p>
                            </div>
                            <form class="row g-3 needs-validation" novalidate="" method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                            <div class="social-login">
                                <ul>
                                    <li>
                                        <a class="linkedin" href="https://157781.cc/index.html#"><i class="lni lni-linkedin-original"></i> Log in with LinkedIn</a>
                                    </li>
                                    <li>
                                        <a class="google" href="https://157781.cc/index.html#"><i class="lni lni-google"></i> Log in with Google</a>
                                    </li>
                                    <li>
                                        <a class="facebook" href="https://157781.cc/index.html#"><i class="lni lni-facebook-original"></i> Log in with Facebook</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="or-devider">
                                <span>Or</span>
                            </div>
                                <div class="form-group">
                                    <label for="email" class="label">E-mail</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="label">Password</label>
                                    <div class="position-relative">
                                        <input type="password" name="mdp" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                    </div>
                                </div>
                                <div class="form-group d-flex flex-wrap justify-content-between">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">Remember password</label>
                                    </div>
                                    <a href="{{ path('forgot') }}"class="font-size-3 text-dodger line-height-reset">Forget Password</a>
                                </div>
                                <div class="form-group mb-8 button">
                                    <button class="btn">Log in</button>
                                </div>
                                <p class="text-center create-new-account">Don’t have an account? <a href="{{ path('app_register') }}">Create a free account</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}