{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <h1>Test</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ test.titre }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ test.domaine }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ test.description }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ test.lien }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ test.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_test_index') }}">back to list</a>

    <a href="{{ path('app_test_edit', {'id': test.id}) }}">edit</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}
