<table border="1" style="margin-left: 350px" >
    <tr>
        <th>Ref</th>
        <th>Description</th>
        <th>Titres</th>
        <th>date D</th>
        <th>date F</th>
        <th>Nbe Place</th>
        <th>Participer</th>
    </tr>
    {% for f in ff %}

        <tr>
            <td> {{ f.ref }}</td>
            <td> {{ f.Description}} </td>
            <td> {{ f.Titre | upper}}</td>
            <td> {{ f.date_debut}}</td>
            <td> {{ f.date_fin}}</td>
            <td> {{ f.nb_participants }}</td>
            <td>    {% if f.nb_participants==0 %}
                    <form action="{{ path('detail',{'titre':f.Titre})}}">
                        <input type="submit" value="participer">
                    </form>
                {% endif %}
            </td>
        </tr>

        {% else %}<i>table vide</i>
    {% endfor %}
</table>
<br>
<i style="margin-left: 350px">le nbe de formation est : {{ ff | length}}</i>
<br>
{% for l in ff %}

    {% if "theorique" in l.Description %}
        <ul style="margin-left: 350px">
            <li>
                {{ l.Titre }}
            </li>
        </ul>
    {% endif %}
{% endfor %}

{% set max=0 %}
    {% for f in ff %}
        {% if f.nb_participants > max %}
            {% set max=f.nb_participants%}
        {% endif %}
    {% endfor %}

    {% for f in ff  %}
        {% if max ==f.nb_participants %}
        <i style="margin-left: 350px"> {{ f.Titre  }}</i>
        {% endif %}
    {% endfor %}
    <br>
    {% set nb=0 %}
    {% for l in ff %}
    {% set nb=nb+l.nb_participants %}
    {% endfor %}
    <i style="margin-left: 350px"> nb tot = {{ nb }}</i>

<br>



