<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Sales <span>| Today</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->

                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Revenue <span>| This Month</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>$3,264</h6>
                                    <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->

                <!-- Customers Card -->
                <div class="col-xxl-4 col-xl-12">

                    <div class="card info-card customers-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Customers <span>| This Year</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>1244</h6>
                                    <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>

                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->

                <!-- Reports -->
                <div class="col-12">
                    <div class="card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Reports <span>/Today</span></h5>

                            <!-- Line Chart -->
                            <div id="reportsChart" style="min-height: 365px;"><div id="apexchartspsky30ur" class="apexcharts-canvas apexchartspsky30ur apexcharts-theme-light" style="width: 710px; height: 350px;"><svg id="SvgjsSvg1471" width="710" height="350" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev" class="apexcharts-svg apexcharts-zoomable hovering-zoom" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><foreignObject x="0" y="0" width="710" height="350"><div class="apexcharts-legend apexcharts-align-center apx-legend-position-bottom" xmlns="http://www.w3.org/1999/xhtml" style="inset: auto 0px 1px; position: absolute; max-height: 175px;"><div class="apexcharts-legend-series" rel="1" seriesname="Sales" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="1" data:collapsed="false" style="background: rgb(65, 84, 241) !important; color: rgb(65, 84, 241); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="1" i="0" data:default-text="Sales" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Sales</span></div><div class="apexcharts-legend-series" rel="2" seriesname="Revenue" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="2" data:collapsed="false" style="background: rgb(46, 202, 106) !important; color: rgb(46, 202, 106); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="2" i="1" data:default-text="Revenue" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Revenue</span></div><div class="apexcharts-legend-series" rel="3" seriesname="Customers" data:collapsed="false" style="margin: 2px 5px;"><span class="apexcharts-legend-marker" rel="3" data:collapsed="false" style="background: rgb(255, 119, 29) !important; color: rgb(255, 119, 29); height: 12px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 12px;"></span><span class="apexcharts-legend-text" rel="3" i="2" data:default-text="Customers" data:collapsed="false" style="color: rgb(55, 61, 63); font-size: 12px; font-weight: 400; font-family: Helvetica, Arial, sans-serif;">Customers</span></div></div><style type="text/css">

                                                .apexcharts-legend {
                                                    display: flex;
                                                    overflow: auto;
                                                    padding: 0 10px;
                                                }
                                                .apexcharts-legend.apx-legend-position-bottom, .apexcharts-legend.apx-legend-position-top {
                                                    flex-wrap: wrap
                                                }
                                                .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                    flex-direction: column;
                                                    bottom: 0;
                                                }
                                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-left, .apexcharts-legend.apx-legend-position-top.apexcharts-align-left, .apexcharts-legend.apx-legend-position-right, .apexcharts-legend.apx-legend-position-left {
                                                    justify-content: flex-start;
                                                }
                                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
                                                    justify-content: center;
                                                }
                                                .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-right, .apexcharts-legend.apx-legend-position-top.apexcharts-align-right {
                                                    justify-content: flex-end;
                                                }
                                                .apexcharts-legend-series {
                                                    cursor: pointer;
                                                    line-height: normal;
                                                }
                                                .apexcharts-legend.apx-legend-position-bottom .apexcharts-legend-series, .apexcharts-legend.apx-legend-position-top .apexcharts-legend-series{
                                                    display: flex;
                                                    align-items: center;
                                                }
                                                .apexcharts-legend-text {
                                                    position: relative;
                                                    font-size: 14px;
                                                }
                                                .apexcharts-legend-text *, .apexcharts-legend-marker * {
                                                    pointer-events: none;
                                                }
                                                .apexcharts-legend-marker {
                                                    position: relative;
                                                    display: inline-block;
                                                    cursor: pointer;
                                                    margin-right: 3px;
                                                    border-style: solid;
                                                }

                                                .apexcharts-legend.apexcharts-align-right .apexcharts-legend-series, .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{
                                                    display: inline-block;
                                                }
                                                .apexcharts-legend-series.apexcharts-no-click {
                                                    cursor: auto;
                                                }
                                                .apexcharts-legend .apexcharts-hidden-zero-series, .apexcharts-legend .apexcharts-hidden-null-series {
                                                    display: none !important;
                                                }
                                                .apexcharts-inactive-legend {
                                                    opacity: 0.45;
                                                }</style></foreignObject><g id="SvgjsG1473" class="apexcharts-inner apexcharts-graphical" transform="translate(45.63535118103027, 30)"><defs id="SvgjsDefs1472"><clipPath id="gridRectMaskpsky30ur"><rect id="SvgjsRect1483" width="660.3646488189697" height="272.6799995422363" x="-3" y="-1" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><clipPath id="forecastMaskpsky30ur"></clipPath><clipPath id="nonForecastMaskpsky30ur"></clipPath><clipPath id="gridRectMarkerMaskpsky30ur"><rect id="SvgjsRect1484" width="674.3646488189697" height="290.6799995422363" x="-10" y="-10" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fff"></rect></clipPath><linearGradient id="SvgjsLinearGradient1502" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1503" stop-opacity="0.3" stop-color="rgba(65,84,241,0.3)" offset="0"></stop><stop id="SvgjsStop1504" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1505" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1524" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1525" stop-opacity="0.3" stop-color="rgba(46,202,106,0.3)" offset="0"></stop><stop id="SvgjsStop1526" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1527" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient><linearGradient id="SvgjsLinearGradient1546" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop1547" stop-opacity="0.3" stop-color="rgba(255,119,29,0.3)" offset="0"></stop><stop id="SvgjsStop1548" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="0.9"></stop><stop id="SvgjsStop1549" stop-opacity="0.4" stop-color="rgba(255,255,255,0.4)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1479" x1="653.8646488189697" y1="0" x2="653.8646488189697" y2="270.6799995422363" stroke="#b6b6b6" stroke-dasharray="3" stroke-linecap="butt" class="apexcharts-xcrosshairs" x="653.8646488189697" y="0" width="1" height="270.6799995422363" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1552" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1553" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"><text id="SvgjsText1555" font-family="Helvetica, Arial, sans-serif" x="0" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1556">00:00</tspan><title>00:00</title></text><text id="SvgjsText1558" font-family="Helvetica, Arial, sans-serif" x="100.67148443368767" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1559">01:00</tspan><title>01:00</title></text><text id="SvgjsText1561" font-family="Helvetica, Arial, sans-serif" x="201.34296886737533" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1562">02:00</tspan><title>02:00</title></text><text id="SvgjsText1564" font-family="Helvetica, Arial, sans-serif" x="302.014453301063" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1565">03:00</tspan><title>03:00</title></text><text id="SvgjsText1567" font-family="Helvetica, Arial, sans-serif" x="402.68593773475067" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1568">04:00</tspan><title>04:00</title></text><text id="SvgjsText1570" font-family="Helvetica, Arial, sans-serif" x="503.35742216843835" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1571">05:00</tspan><title>05:00</title></text><text id="SvgjsText1573" font-family="Helvetica, Arial, sans-serif" x="604.028906602126" y="299.6799995422363" text-anchor="middle" dominant-baseline="auto" font-size="12px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-xaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1574">06:00</tspan><title>06:00</title></text></g><line id="SvgjsLine1575" x1="0" y1="271.6799995422363" x2="654.3646488189697" y2="271.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt"></line></g><g id="SvgjsG1590" class="apexcharts-grid"><g id="SvgjsG1591" class="apexcharts-gridlines-horizontal"><line id="SvgjsLine1600" x1="0" y1="0" x2="654.3646488189697" y2="0" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1601" x1="0" y1="54.13599990844726" x2="654.3646488189697" y2="54.13599990844726" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1602" x1="0" y1="108.27199981689452" x2="654.3646488189697" y2="108.27199981689452" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1603" x1="0" y1="162.40799972534177" x2="654.3646488189697" y2="162.40799972534177" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1604" x1="0" y1="216.54399963378904" x2="654.3646488189697" y2="216.54399963378904" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line><line id="SvgjsLine1605" x1="0" y1="270.6799995422363" x2="654.3646488189697" y2="270.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-gridline"></line></g><g id="SvgjsG1592" class="apexcharts-gridlines-vertical"></g><line id="SvgjsLine1593" x1="0" y1="271.6799995422363" x2="0" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1594" x1="100.67148443368767" y1="271.6799995422363" x2="100.67148443368767" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1595" x1="201.34296886737533" y1="271.6799995422363" x2="201.34296886737533" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1596" x1="302.014453301063" y1="271.6799995422363" x2="302.014453301063" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1597" x1="402.68593773475067" y1="271.6799995422363" x2="402.68593773475067" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1598" x1="503.35742216843835" y1="271.6799995422363" x2="503.35742216843835" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1599" x1="604.028906602126" y1="271.6799995422363" x2="604.028906602126" y2="277.6799995422363" stroke="#e0e0e0" stroke-dasharray="0" stroke-linecap="butt" class="apexcharts-xaxis-tick"></line><line id="SvgjsLine1607" x1="0" y1="270.6799995422363" x2="654.3646488189697" y2="270.6799995422363" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line><line id="SvgjsLine1606" x1="0" y1="1" x2="0" y2="270.6799995422363" stroke="transparent" stroke-dasharray="0" stroke-linecap="butt"></line></g><g id="SvgjsG1485" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG1486" class="apexcharts-series" seriesName="Sales" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1506" d="M 0 270.6799995422363L 0 186.76919968414308C 52.85252932768601 186.76919968414308 98.15469732284546 162.40799972534177 151.00722665053146 162.40799972534177C 186.24224620232215 162.40799972534177 216.44369153242843 194.88959967041015 251.67871108421912 194.88959967041015C 286.9137306360098 194.88959967041015 317.11517596611606 132.6331997756958 352.35019551790674 132.6331997756958C 387.5852150696974 132.6331997756958 417.78666039980374 156.99439973449705 453.0216799515944 156.99439973449705C 488.2566995033851 156.99439973449705 518.4581448334914 48.72239991760253 553.6931643852821 48.72239991760253C 588.9281839370727 48.72239991760253 619.1296292671791 119.09919979858398 654.3646488189697 119.09919979858398C 654.3646488189697 119.09919979858398 654.3646488189697 119.09919979858398 654.3646488189697 270.6799995422363M 654.3646488189697 119.09919979858398z" fill="url(#SvgjsLinearGradient1502)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskpsky30ur)" pathTo="M 0 270.6799995422363L 0 186.76919968414308C 52.85252932768601 186.76919968414308 98.15469732284546 162.40799972534177 151.00722665053146 162.40799972534177C 186.24224620232215 162.40799972534177 216.44369153242843 194.88959967041015 251.67871108421912 194.88959967041015C 286.9137306360098 194.88959967041015 317.11517596611606 132.6331997756958 352.35019551790674 132.6331997756958C 387.5852150696974 132.6331997756958 417.78666039980374 156.99439973449705 453.0216799515944 156.99439973449705C 488.2566995033851 156.99439973449705 518.4581448334914 48.72239991760253 553.6931643852821 48.72239991760253C 588.9281839370727 48.72239991760253 619.1296292671791 119.09919979858398 654.3646488189697 119.09919979858398C 654.3646488189697 119.09919979858398 654.3646488189697 119.09919979858398 654.3646488189697 270.6799995422363M 654.3646488189697 119.09919979858398z" pathFrom="M -1 270.6799995422363L -1 270.6799995422363L 151.00722665053146 270.6799995422363L 251.67871108421912 270.6799995422363L 352.35019551790674 270.6799995422363L 453.0216799515944 270.6799995422363L 553.6931643852821 270.6799995422363L 654.3646488189697 270.6799995422363"></path><path id="SvgjsPath1507" d="M 0 186.76919968414308C 52.85252932768601 186.76919968414308 98.15469732284546 162.40799972534177 151.00722665053146 162.40799972534177C 186.24224620232215 162.40799972534177 216.44369153242843 194.88959967041015 251.67871108421912 194.88959967041015C 286.9137306360098 194.88959967041015 317.11517596611606 132.6331997756958 352.35019551790674 132.6331997756958C 387.5852150696974 132.6331997756958 417.78666039980374 156.99439973449705 453.0216799515944 156.99439973449705C 488.2566995033851 156.99439973449705 518.4581448334914 48.72239991760253 553.6931643852821 48.72239991760253C 588.9281839370727 48.72239991760253 619.1296292671791 119.09919979858398 654.3646488189697 119.09919979858398" fill="none" fill-opacity="1" stroke="#4154f1" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskpsky30ur)" pathTo="M 0 186.76919968414308C 52.85252932768601 186.76919968414308 98.15469732284546 162.40799972534177 151.00722665053146 162.40799972534177C 186.24224620232215 162.40799972534177 216.44369153242843 194.88959967041015 251.67871108421912 194.88959967041015C 286.9137306360098 194.88959967041015 317.11517596611606 132.6331997756958 352.35019551790674 132.6331997756958C 387.5852150696974 132.6331997756958 417.78666039980374 156.99439973449705 453.0216799515944 156.99439973449705C 488.2566995033851 156.99439973449705 518.4581448334914 48.72239991760253 553.6931643852821 48.72239991760253C 588.9281839370727 48.72239991760253 619.1296292671791 119.09919979858398 654.3646488189697 119.09919979858398" pathFrom="M -1 270.6799995422363L -1 270.6799995422363L 151.00722665053146 270.6799995422363L 251.67871108421912 270.6799995422363L 352.35019551790674 270.6799995422363L 453.0216799515944 270.6799995422363L 553.6931643852821 270.6799995422363L 654.3646488189697 270.6799995422363"></path><g id="SvgjsG1487" class="apexcharts-series-markers-wrap" data:realIndex="0"><g id="SvgjsG1489" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1490" r="4" cx="0" cy="186.76919968414308" class="apexcharts-marker no-pointer-events wa8qyn5jjj" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="0" default-marker-size="4"></circle><circle id="SvgjsCircle1491" r="4" cx="151.00722665053146" cy="162.40799972534177" class="apexcharts-marker no-pointer-events w1ufbq8dn" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1492" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1493" r="4" cx="251.67871108421912" cy="194.88959967041015" class="apexcharts-marker no-pointer-events we9j9fbue" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1494" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1495" r="4" cx="352.35019551790674" cy="132.6331997756958" class="apexcharts-marker no-pointer-events w4p27xhiq" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1496" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1497" r="4" cx="453.0216799515944" cy="156.99439973449705" class="apexcharts-marker no-pointer-events wcud6bvdv" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1498" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1499" r="4" cx="553.6931643852821" cy="48.72239991760253" class="apexcharts-marker no-pointer-events wiqb8l4cxf" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="0" default-marker-size="4"></circle></g><g id="SvgjsG1500" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1501" r="4" cx="654.3646488189697" cy="119.09919979858398" class="apexcharts-marker no-pointer-events w5fu8qi74" stroke="#ffffff" fill="#4154f1" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="0" default-marker-size="4"></circle></g></g></g><g id="SvgjsG1508" class="apexcharts-series" seriesName="Revenue" data:longestSeries="true" rel="2" data:realIndex="1"><path id="SvgjsPath1528" d="M 0 270.6799995422363L 0 240.90519959259032C 52.85252932768601 240.90519959259032 98.15469732284546 184.0623996887207 151.00722665053146 184.0623996887207C 186.24224620232215 184.0623996887207 216.44369153242843 148.87399974822998 251.67871108421912 148.87399974822998C 286.9137306360098 148.87399974822998 317.11517596611606 184.0623996887207 352.35019551790674 184.0623996887207C 387.5852150696974 184.0623996887207 417.78666039980374 178.64879969787597 453.0216799515944 178.64879969787597C 488.2566995033851 178.64879969787597 518.4581448334914 129.92639978027344 553.6931643852821 129.92639978027344C 588.9281839370727 129.92639978027344 619.1296292671791 159.70119972991944 654.3646488189697 159.70119972991944C 654.3646488189697 159.70119972991944 654.3646488189697 159.70119972991944 654.3646488189697 270.6799995422363M 654.3646488189697 159.70119972991944z" fill="url(#SvgjsLinearGradient1524)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskpsky30ur)" pathTo="M 0 270.6799995422363L 0 240.90519959259032C 52.85252932768601 240.90519959259032 98.15469732284546 184.0623996887207 151.00722665053146 184.0623996887207C 186.24224620232215 184.0623996887207 216.44369153242843 148.87399974822998 251.67871108421912 148.87399974822998C 286.9137306360098 148.87399974822998 317.11517596611606 184.0623996887207 352.35019551790674 184.0623996887207C 387.5852150696974 184.0623996887207 417.78666039980374 178.64879969787597 453.0216799515944 178.64879969787597C 488.2566995033851 178.64879969787597 518.4581448334914 129.92639978027344 553.6931643852821 129.92639978027344C 588.9281839370727 129.92639978027344 619.1296292671791 159.70119972991944 654.3646488189697 159.70119972991944C 654.3646488189697 159.70119972991944 654.3646488189697 159.70119972991944 654.3646488189697 270.6799995422363M 654.3646488189697 159.70119972991944z" pathFrom="M -1 270.6799995422363L -1 270.6799995422363L 151.00722665053146 270.6799995422363L 251.67871108421912 270.6799995422363L 352.35019551790674 270.6799995422363L 453.0216799515944 270.6799995422363L 553.6931643852821 270.6799995422363L 654.3646488189697 270.6799995422363"></path><path id="SvgjsPath1529" d="M 0 240.90519959259032C 52.85252932768601 240.90519959259032 98.15469732284546 184.0623996887207 151.00722665053146 184.0623996887207C 186.24224620232215 184.0623996887207 216.44369153242843 148.87399974822998 251.67871108421912 148.87399974822998C 286.9137306360098 148.87399974822998 317.11517596611606 184.0623996887207 352.35019551790674 184.0623996887207C 387.5852150696974 184.0623996887207 417.78666039980374 178.64879969787597 453.0216799515944 178.64879969787597C 488.2566995033851 178.64879969787597 518.4581448334914 129.92639978027344 553.6931643852821 129.92639978027344C 588.9281839370727 129.92639978027344 619.1296292671791 159.70119972991944 654.3646488189697 159.70119972991944" fill="none" fill-opacity="1" stroke="#2eca6a" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="1" clip-path="url(#gridRectMaskpsky30ur)" pathTo="M 0 240.90519959259032C 52.85252932768601 240.90519959259032 98.15469732284546 184.0623996887207 151.00722665053146 184.0623996887207C 186.24224620232215 184.0623996887207 216.44369153242843 148.87399974822998 251.67871108421912 148.87399974822998C 286.9137306360098 148.87399974822998 317.11517596611606 184.0623996887207 352.35019551790674 184.0623996887207C 387.5852150696974 184.0623996887207 417.78666039980374 178.64879969787597 453.0216799515944 178.64879969787597C 488.2566995033851 178.64879969787597 518.4581448334914 129.92639978027344 553.6931643852821 129.92639978027344C 588.9281839370727 129.92639978027344 619.1296292671791 159.70119972991944 654.3646488189697 159.70119972991944" pathFrom="M -1 270.6799995422363L -1 270.6799995422363L 151.00722665053146 270.6799995422363L 251.67871108421912 270.6799995422363L 352.35019551790674 270.6799995422363L 453.0216799515944 270.6799995422363L 553.6931643852821 270.6799995422363L 654.3646488189697 270.6799995422363"></path><g id="SvgjsG1509" class="apexcharts-series-markers-wrap" data:realIndex="1"><g id="SvgjsG1511" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1512" r="4" cx="0" cy="240.90519959259032" class="apexcharts-marker no-pointer-events wkrocu7o6f" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="1" default-marker-size="4"></circle><circle id="SvgjsCircle1513" r="4" cx="151.00722665053146" cy="184.0623996887207" class="apexcharts-marker no-pointer-events wf0rvzj86" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1514" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1515" r="4" cx="251.67871108421912" cy="148.87399974822998" class="apexcharts-marker no-pointer-events w9sv6y15v" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1516" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1517" r="4" cx="352.35019551790674" cy="184.0623996887207" class="apexcharts-marker no-pointer-events wk61frheg" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1518" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1519" r="4" cx="453.0216799515944" cy="178.64879969787597" class="apexcharts-marker no-pointer-events w98z1d28k" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1520" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1521" r="4" cx="553.6931643852821" cy="129.92639978027344" class="apexcharts-marker no-pointer-events wb17wh4af" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="1" default-marker-size="4"></circle></g><g id="SvgjsG1522" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1523" r="4" cx="654.3646488189697" cy="159.70119972991944" class="apexcharts-marker no-pointer-events w5qf8r3r5g" stroke="#ffffff" fill="#2eca6a" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="1" default-marker-size="4"></circle></g></g></g><g id="SvgjsG1530" class="apexcharts-series" seriesName="Customers" data:longestSeries="true" rel="3" data:realIndex="2"><path id="SvgjsPath1550" d="M 0 270.6799995422363L 0 230.07799961090086C 52.85252932768601 230.07799961090086 98.15469732284546 240.90519959259032 151.00722665053146 240.90519959259032C 186.24224620232215 240.90519959259032 216.44369153242843 184.0623996887207 251.67871108421912 184.0623996887207C 286.9137306360098 184.0623996887207 317.11517596611606 221.9575996246338 352.35019551790674 221.9575996246338C 387.5852150696974 221.9575996246338 417.78666039980374 246.31879958343504 453.0216799515944 246.31879958343504C 488.2566995033851 246.31879958343504 518.4581448334914 205.7167996520996 553.6931643852821 205.7167996520996C 588.9281839370727 205.7167996520996 619.1296292671791 240.90519959259032 654.3646488189697 240.90519959259032C 654.3646488189697 240.90519959259032 654.3646488189697 240.90519959259032 654.3646488189697 270.6799995422363M 654.3646488189697 240.90519959259032z" fill="url(#SvgjsLinearGradient1546)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskpsky30ur)" pathTo="M 0 270.6799995422363L 0 230.07799961090086C 52.85252932768601 230.07799961090086 98.15469732284546 240.90519959259032 151.00722665053146 240.90519959259032C 186.24224620232215 240.90519959259032 216.44369153242843 184.0623996887207 251.67871108421912 184.0623996887207C 286.9137306360098 184.0623996887207 317.11517596611606 221.9575996246338 352.35019551790674 221.9575996246338C 387.5852150696974 221.9575996246338 417.78666039980374 246.31879958343504 453.0216799515944 246.31879958343504C 488.2566995033851 246.31879958343504 518.4581448334914 205.7167996520996 553.6931643852821 205.7167996520996C 588.9281839370727 205.7167996520996 619.1296292671791 240.90519959259032 654.3646488189697 240.90519959259032C 654.3646488189697 240.90519959259032 654.3646488189697 240.90519959259032 654.3646488189697 270.6799995422363M 654.3646488189697 240.90519959259032z" pathFrom="M -1 270.6799995422363L -1 270.6799995422363L 151.00722665053146 270.6799995422363L 251.67871108421912 270.6799995422363L 352.35019551790674 270.6799995422363L 453.0216799515944 270.6799995422363L 553.6931643852821 270.6799995422363L 654.3646488189697 270.6799995422363"></path><path id="SvgjsPath1551" d="M 0 230.07799961090086C 52.85252932768601 230.07799961090086 98.15469732284546 240.90519959259032 151.00722665053146 240.90519959259032C 186.24224620232215 240.90519959259032 216.44369153242843 184.0623996887207 251.67871108421912 184.0623996887207C 286.9137306360098 184.0623996887207 317.11517596611606 221.9575996246338 352.35019551790674 221.9575996246338C 387.5852150696974 221.9575996246338 417.78666039980374 246.31879958343504 453.0216799515944 246.31879958343504C 488.2566995033851 246.31879958343504 518.4581448334914 205.7167996520996 553.6931643852821 205.7167996520996C 588.9281839370727 205.7167996520996 619.1296292671791 240.90519959259032 654.3646488189697 240.90519959259032" fill="none" fill-opacity="1" stroke="#ff771d" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="2" clip-path="url(#gridRectMaskpsky30ur)" pathTo="M 0 230.07799961090086C 52.85252932768601 230.07799961090086 98.15469732284546 240.90519959259032 151.00722665053146 240.90519959259032C 186.24224620232215 240.90519959259032 216.44369153242843 184.0623996887207 251.67871108421912 184.0623996887207C 286.9137306360098 184.0623996887207 317.11517596611606 221.9575996246338 352.35019551790674 221.9575996246338C 387.5852150696974 221.9575996246338 417.78666039980374 246.31879958343504 453.0216799515944 246.31879958343504C 488.2566995033851 246.31879958343504 518.4581448334914 205.7167996520996 553.6931643852821 205.7167996520996C 588.9281839370727 205.7167996520996 619.1296292671791 240.90519959259032 654.3646488189697 240.90519959259032" pathFrom="M -1 270.6799995422363L -1 270.6799995422363L 151.00722665053146 270.6799995422363L 251.67871108421912 270.6799995422363L 352.35019551790674 270.6799995422363L 453.0216799515944 270.6799995422363L 553.6931643852821 270.6799995422363L 654.3646488189697 270.6799995422363"></path><g id="SvgjsG1531" class="apexcharts-series-markers-wrap" data:realIndex="2"><g id="SvgjsG1533" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1534" r="4" cx="0" cy="230.07799961090086" class="apexcharts-marker no-pointer-events wrgr6c2ej" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="0" j="0" index="2" default-marker-size="4"></circle><circle id="SvgjsCircle1535" r="4" cx="151.00722665053146" cy="240.90519959259032" class="apexcharts-marker no-pointer-events wor252dmr" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="1" j="1" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1536" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1537" r="4" cx="251.67871108421912" cy="184.0623996887207" class="apexcharts-marker no-pointer-events wyyeb3n1m" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="2" j="2" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1538" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1539" r="4" cx="352.35019551790674" cy="221.9575996246338" class="apexcharts-marker no-pointer-events wnc4fx5xk" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="3" j="3" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1540" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1541" r="4" cx="453.0216799515944" cy="246.31879958343504" class="apexcharts-marker no-pointer-events wv5ounmsc" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="4" j="4" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1542" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1543" r="4" cx="553.6931643852821" cy="205.7167996520996" class="apexcharts-marker no-pointer-events wxmdm7zpb" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="5" j="5" index="2" default-marker-size="4"></circle></g><g id="SvgjsG1544" class="apexcharts-series-markers" clip-path="url(#gridRectMarkerMaskpsky30ur)"><circle id="SvgjsCircle1545" r="4" cx="654.3646488189697" cy="240.90519959259032" class="apexcharts-marker no-pointer-events we57yk235" stroke="#ffffff" fill="#ff771d" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" rel="6" j="6" index="2" default-marker-size="4"></circle></g></g></g><g id="SvgjsG1488" class="apexcharts-datalabels" data:realIndex="0"></g><g id="SvgjsG1510" class="apexcharts-datalabels" data:realIndex="1"></g><g id="SvgjsG1532" class="apexcharts-datalabels" data:realIndex="2"></g></g><line id="SvgjsLine1608" x1="0" y1="0" x2="654.3646488189697" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" stroke-linecap="butt" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1609" x1="0" y1="0" x2="654.3646488189697" y2="0" stroke-dasharray="0" stroke-width="0" stroke-linecap="butt" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1610" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1611" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1612" class="apexcharts-point-annotations"></g><rect id="SvgjsRect1613" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-zoom-rect"></rect><rect id="SvgjsRect1614" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe" class="apexcharts-selection-rect"></rect></g><rect id="SvgjsRect1478" width="0" height="0" x="0" y="0" rx="0" ry="0" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0" fill="#fefefe"></rect><g id="SvgjsG1576" class="apexcharts-yaxis" rel="0" transform="translate(15.635351181030273, 0)"><g id="SvgjsG1577" class="apexcharts-yaxis-texts-g"><text id="SvgjsText1578" font-family="Helvetica, Arial, sans-serif" x="20" y="31.5" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1579">100</tspan><title>100</title></text><text id="SvgjsText1580" font-family="Helvetica, Arial, sans-serif" x="20" y="85.63599990844726" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1581">80</tspan><title>80</title></text><text id="SvgjsText1582" font-family="Helvetica, Arial, sans-serif" x="20" y="139.77199981689452" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1583">60</tspan><title>60</title></text><text id="SvgjsText1584" font-family="Helvetica, Arial, sans-serif" x="20" y="193.90799972534177" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1585">40</tspan><title>40</title></text><text id="SvgjsText1586" font-family="Helvetica, Arial, sans-serif" x="20" y="248.04399963378904" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1587">20</tspan><title>20</title></text><text id="SvgjsText1588" font-family="Helvetica, Arial, sans-serif" x="20" y="302.1799995422363" text-anchor="end" dominant-baseline="auto" font-size="11px" font-weight="400" fill="#373d3f" class="apexcharts-text apexcharts-yaxis-label " style="font-family: Helvetica, Arial, sans-serif;"><tspan id="SvgjsTspan1589">0</tspan><title>0</title></text></g></g><g id="SvgjsG1474" class="apexcharts-annotations"></g></svg><div class="apexcharts-tooltip apexcharts-theme-light" style="left: 563.625px; top: 164.68px;"><div class="apexcharts-tooltip-title" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;">19/09/18 06:30</div><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 1; display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(65, 84, 241);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Sales: </span><span class="apexcharts-tooltip-text-y-value">56</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 2; display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(46, 202, 106);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Revenue: </span><span class="apexcharts-tooltip-text-y-value">41</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div><div class="apexcharts-tooltip-series-group apexcharts-active" style="order: 3; display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(255, 119, 29);"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-y-label">Customers: </span><span class="apexcharts-tooltip-text-y-value">11</span></div><div class="apexcharts-tooltip-goals-group"><span class="apexcharts-tooltip-text-goals-label"></span><span class="apexcharts-tooltip-text-goals-value"></span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div><div class="apexcharts-xaxistooltip apexcharts-xaxistooltip-bottom apexcharts-theme-light" style="left: 635.112px; top: 302.68px;"><div class="apexcharts-xaxistooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; min-width: 106.775px;">19/09/18 06:30</div></div><div class="apexcharts-yaxistooltip apexcharts-yaxistooltip-0 apexcharts-yaxistooltip-left apexcharts-theme-light"><div class="apexcharts-yaxistooltip-text"></div></div></div></div>

                            <script>
                                document.addEventListener("DOMContentLoaded", () => {
                                    new ApexCharts(document.querySelector("#reportsChart"), {
                                        series: [{
                                            name: 'Sales',
                                            data: [31, 40, 28, 51, 42, 82, 56],
                                        }, {
                                            name: 'Revenue',
                                            data: [11, 32, 45, 32, 34, 52, 41]
                                        }, {
                                            name: 'Customers',
                                            data: [15, 11, 32, 18, 9, 24, 11]
                                        }],
                                        chart: {
                                            height: 350,
                                            type: 'area',
                                            toolbar: {
                                                show: false
                                            },
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        colors: ['#4154f1', '#2eca6a', '#ff771d'],
                                        fill: {
                                            type: "gradient",
                                            gradient: {
                                                shadeIntensity: 1,
                                                opacityFrom: 0.3,
                                                opacityTo: 0.4,
                                                stops: [0, 90, 100]
                                            }
                                        },
                                        dataLabels: {
                                            enabled: false
                                        },
                                        stroke: {
                                            curve: 'smooth',
                                            width: 2
                                        },
                                        xaxis: {
                                            type: 'datetime',
                                            categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
                                        },
                                        tooltip: {
                                            x: {
                                                format: 'dd/MM/yy HH:mm'
                                            },
                                        }
                                    }).render();
                                });
                            </script>
                            <!-- End Line Chart -->

                        </div>

                    </div>
                </div><!-- End Reports -->

                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                            <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns"><div class="dataTable-top"><div class="dataTable-dropdown"><label><select class="dataTable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page</label></div><div class="dataTable-search"><input class="dataTable-input" placeholder="Search..." type="text"></div></div><div class="dataTable-container"><table class="table table-borderless datatable dataTable-table">
                                        <thead>
                                        <tr><th scope="col" data-sortable="" style="width: 12.2721%;"><a href="#" class="dataTable-sorter">#</a></th><th scope="col" data-sortable="" style="width: 23.5383%;"><a href="#" class="dataTable-sorter">Customer</a></th><th scope="col" data-sortable="" style="width: 36.2127%;"><a href="#" class="dataTable-sorter">Product</a></th><th scope="col" data-sortable="" style="width: 11.065%;"><a href="#" class="dataTable-sorter">Price</a></th><th scope="col" data-sortable="" style="width: 16.8993%;"><a href="#" class="dataTable-sorter">Status</a></th></tr>
                                        </thead>
                                        <tbody><tr><th scope="row"><a href="#">#2457</a></th><td>Brandon Jacob</td><td><a href="#" class="text-primary">At praesentium minu</a></td><td>$64</td><td><span class="badge bg-success">Approved</span></td></tr><tr><th scope="row"><a href="#">#2147</a></th><td>Bridie Kessler</td><td><a href="#" class="text-primary">Blanditiis dolor omnis similique</a></td><td>$47</td><td><span class="badge bg-warning">Pending</span></td></tr><tr><th scope="row"><a href="#">#2049</a></th><td>Ashleigh Langosh</td><td><a href="#" class="text-primary">At recusandae consectetur</a></td><td>$147</td><td><span class="badge bg-success">Approved</span></td></tr><tr><th scope="row"><a href="#">#2644</a></th><td>Angus Grady</td><td><a href="#" class="text-primar">Ut voluptatem id earum et</a></td><td>$67</td><td><span class="badge bg-danger">Rejected</span></td></tr><tr><th scope="row"><a href="#">#2644</a></th><td>Raheem Lehner</td><td><a href="#" class="text-primary">Sunt similique distinctio</a></td><td>$165</td><td><span class="badge bg-success">Approved</span></td></tr></tbody>
                                    </table></div><div class="dataTable-bottom"><div class="dataTable-info">Showing 1 to 5 of 5 entries</div><nav class="dataTable-pagination"><ul class="dataTable-pagination-list"></ul></nav></div></div>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->

                <!-- Top Selling -->
                <div class="col-12">
                    <div class="card top-selling overflow-auto">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body pb-0">
                            <h5 class="card-title">Top Selling <span>| Today</span></h5>

                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Preview</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Sold</th>
                                    <th scope="col">Revenue</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row"><a href="#"><img src="assets/img/product-1.jpg" alt=""></a></th>
                                    <td><a href="#" class="text-primary fw-bold">Ut inventore ipsa voluptas nulla</a></td>
                                    <td>$64</td>
                                    <td class="fw-bold">124</td>
                                    <td>$5,828</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a href="#"><img src="assets/img/product-2.jpg" alt=""></a></th>
                                    <td><a href="#" class="text-primary fw-bold">Exercitationem similique doloremque</a></td>
                                    <td>$46</td>
                                    <td class="fw-bold">98</td>
                                    <td>$4,508</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a href="#"><img src="assets/img/product-3.jpg" alt=""></a></th>
                                    <td><a href="#" class="text-primary fw-bold">Doloribus nisi exercitationem</a></td>
                                    <td>$59</td>
                                    <td class="fw-bold">74</td>
                                    <td>$4,366</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a href="#"><img src="assets/img/product-4.jpg" alt=""></a></th>
                                    <td><a href="#" class="text-primary fw-bold">Officiis quaerat sint rerum error</a></td>
                                    <td>$32</td>
                                    <td class="fw-bold">63</td>
                                    <td>$2,016</td>
                                </tr>
                                <tr>
                                    <th scope="row"><a href="#"><img src="assets/img/product-5.jpg" alt=""></a></th>
                                    <td><a href="#" class="text-primary fw-bold">Sit unde debitis delectus repellendus</a></td>
                                    <td>$79</td>
                                    <td class="fw-bold">41</td>
                                    <td>$3,239</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Top Selling -->

            </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

            <!-- Recent Activity -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Recent Activity <span>| Today</span></h5>

                    <div class="activity">

                        <div class="activity-item d-flex">
                            <div class="activite-label">32 min</div>
                            <i class="bi bi-circle-fill activity-badge text-success align-self-start"></i>
                            <div class="activity-content">
                                Quia quae rerum <a href="#" class="fw-bold text-dark">explicabo officiis</a> beatae
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">56 min</div>
                            <i class="bi bi-circle-fill activity-badge text-danger align-self-start"></i>
                            <div class="activity-content">
                                Voluptatem blanditiis blanditiis eveniet
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">2 hrs</div>
                            <i class="bi bi-circle-fill activity-badge text-primary align-self-start"></i>
                            <div class="activity-content">
                                Voluptates corrupti molestias voluptatem
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">1 day</div>
                            <i class="bi bi-circle-fill activity-badge text-info align-self-start"></i>
                            <div class="activity-content">
                                Tempore autem saepe <a href="#" class="fw-bold text-dark">occaecati voluptatem</a> tempore
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">2 days</div>
                            <i class="bi bi-circle-fill activity-badge text-warning align-self-start"></i>
                            <div class="activity-content">
                                Est sit eum reiciendis exercitationem
                            </div>
                        </div><!-- End activity item-->

                        <div class="activity-item d-flex">
                            <div class="activite-label">4 weeks</div>
                            <i class="bi bi-circle-fill activity-badge text-muted align-self-start"></i>
                            <div class="activity-content">
                                Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                            </div>
                        </div><!-- End activity item-->

                    </div>

                </div>
            </div><!-- End Recent Activity -->

            <!-- Budget Report -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Budget Report <span>| This Month</span></h5>

                    <div id="budgetChart" style="min-height: 400px; -webkit-tap-highlight-color: transparent; user-select: none;" class="echart" _echarts_instance_="ec_1669314994722"><div style="position: relative; width: 323px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="403" height="500" style="position: absolute; left: 0px; top: 0px; width: 323px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            var budgetChart = echarts.init(document.querySelector("#budgetChart")).setOption({
                                legend: {
                                    data: ['Allocated Budget', 'Actual Spending']
                                },
                                radar: {
                                    // shape: 'circle',
                                    indicator: [{
                                        name: 'Sales',
                                        max: 6500
                                    },
                                        {
                                            name: 'Administration',
                                            max: 16000
                                        },
                                        {
                                            name: 'Information Technology',
                                            max: 30000
                                        },
                                        {
                                            name: 'Customer Support',
                                            max: 38000
                                        },
                                        {
                                            name: 'Development',
                                            max: 52000
                                        },
                                        {
                                            name: 'Marketing',
                                            max: 25000
                                        }
                                    ]
                                },
                                series: [{
                                    name: 'Budget vs spending',
                                    type: 'radar',
                                    data: [{
                                        value: [4200, 3000, 20000, 35000, 50000, 18000],
                                        name: 'Allocated Budget'
                                    },
                                        {
                                            value: [5000, 14000, 28000, 26000, 42000, 21000],
                                            name: 'Actual Spending'
                                        }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Budget Report -->

            <!-- Website Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">Website Traffic <span>| Today</span></h5>

                    <div id="trafficChart" style="min-height: 400px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;" class="echart" _echarts_instance_="ec_1669314994723"><div style="position: relative; width: 323px; height: 400px; padding: 0px; margin: 0px; border-width: 0px; cursor: pointer;"><canvas data-zr-dom-id="zr_0" width="403" height="500" style="position: absolute; left: 0px; top: 0px; width: 323px; height: 400px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div><div class=""></div></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            echarts.init(document.querySelector("#trafficChart")).setOption({
                                tooltip: {
                                    trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [{
                                    name: 'Access From',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        show: false,
                                        position: 'center'
                                    },
                                    emphasis: {
                                        label: {
                                            show: true,
                                            fontSize: '18',
                                            fontWeight: 'bold'
                                        }
                                    },
                                    labelLine: {
                                        show: false
                                    },
                                    data: [{
                                        value: 1048,
                                        name: 'Search Engine'
                                    },
                                        {
                                            value: 735,
                                            name: 'Direct'
                                        },
                                        {
                                            value: 580,
                                            name: 'Email'
                                        },
                                        {
                                            value: 484,
                                            name: 'Union Ads'
                                        },
                                        {
                                            value: 300,
                                            name: 'Video Ads'
                                        }
                                    ]
                                }]
                            });
                        });
                    </script>

                </div>
            </div><!-- End Website Traffic -->

            <!-- News & Updates Traffic -->
            <div class="card">
                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Today</a></li>
                        <li><a class="dropdown-item" href="#">This Month</a></li>
                        <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                </div>

                <div class="card-body pb-0">
                    <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                    <div class="news">
                        <div class="post-item clearfix">
                            <img src="assets/img/news-1.jpg" alt="">
                            <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                            <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-2.jpg" alt="">
                            <h4><a href="#">Quidem autem et impedit</a></h4>
                            <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-3.jpg" alt="">
                            <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                            <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-4.jpg" alt="">
                            <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                            <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                        </div>

                        <div class="post-item clearfix">
                            <img src="assets/img/news-5.jpg" alt="">
                            <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                            <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                        </div>

                    </div><!-- End sidebar recent posts-->

                </div>
            </div><!-- End News & Updates -->

        </div><!-- End Right side columns -->

    </div>
</section>



{% extends 'utilisateur/Dashbord/base.html.twig' %}

{%  block body %}

    <section class="section dashboard">
        <div class="row" style="display: flex;align-items: center; justify-content: end;margin-top: 60px;">

            <div class="col-lg-9">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-3  col-md-6">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title"> Account <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ naa }}</h6>
                                        <span class="text-danger small pt-1 fw-bold">100% </span>
                                        <span class="text-muted small pt-2 ps-1">Account</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->

                    <!-- Revenue Card -->
                    <div class="col-xxl-3  col-md-6">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Socite <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ nss }}</h6>
                                        <span class="text-danger small pt-1 fw-bold">{{ ns1 }}%</span> <span class="text-muted small pt-2 ps-1">Account</span>

                                    </div>
                                </div>

                            </div>
                        </div></div>

                    <!-- End Customers Card -->

                    <!-- Customers Card -->
                    <div class="col-xxl-3  col-md-6">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title">Ads <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ ncc }}</h6>
                                        <span class="text-danger small pt-1 fw-bold">{{ nc1 }}%</span> <span class="text-muted small pt-2 ps-1">Account</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                    <!-- Sales Card -->
                    <div class="col-xxl-3 col-xl-4">

                        <div class="card info-card customers-card">

                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <h5 class="card-title"> Ads <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>{{ adV }}</h6>
                                        <span class="text-danger small pt-1 fw-bold">100% </span> <span class="text-muted small pt-2 ps-1">Legal</span>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
                </div>


                <!-- End Left side columns -->

                <!-- Right side columns -->
                <div class="col-lg-8">
                    <div class="col-lg-10">

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Ads Graphique</h5>

                                <!-- Column Chart -->
                                <div id="columnChart"></div>

                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#columnChart"), {
                                            series: [
                                                {
                                                    name: 'Gold',
                                                    data: [{{ adGold }}]
                                                },
                                                {
                                                    name: 'Bronze',
                                                    data: [{{ adBronze }}]
                                                },
                                                {
                                                    name: 'Total Ads Valid',
                                                    data: [{{ adV }}]
                                                },

                                            ],
                                            chart: {
                                                type: 'bar',
                                                height: 350
                                            },
                                            plotOptions: {
                                                bar: {
                                                    horizontal: false,
                                                    columnWidth: '55%',
                                                    endingShape: 'rounded'
                                                },
                                            },
                                            dataLabels: {
                                                enabled: false
                                            },
                                            stroke: {
                                                show: true,
                                                width: 2,
                                                colors: ['transparent']
                                            },
                                            xaxis: {
                                                categories: [' '],
                                            },
                                            yaxis: {
                                                title: {
                                                    text: 'Les Ads V / Type'
                                                }
                                            },
                                            fill: {
                                                opacity: 1
                                            },
                                            tooltip: {
                                                y: {
                                                }
                                            }
                                        }).render();
                                    });
                                </script>


                            </div><!-- End Right side columns -->

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- Right side columns -->

        </div>
    </section>
{% endblock %}