{% extends 'yback.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h2>Catégorie:</h2>

    <table border="1" class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Nom categorie</th>
                <td>{{ categorie.nomcategorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}">back to list</a>

    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">edit</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
