{% extends 'offre/templateoffre.html.twig' %}
{% block section %}
<section class="job-post section">

    {% endblock %}
{% block container %}<br>Modifier votre offre{% endblock %}

{% block retour %}
<span style="float: right">
{{ include('offre/_delete_form.html.twig') }}</span>
{% endblock %}

{% block body %}


               <div class="job-information">

{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
        {% if  type  == "Stage" %}

            <div class="row">

                <div class="col-lg-24">
                    <div>

                        <label>{{ form_label(form.titre) }}</label>
                        {{ form_widget(form.titre,{'attr':{'class':'form-control'}}) }}
                        <span style="color:red">    {{ form_errors(form.titre) }}</span>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div >

                        <label>{{ form_label(form.typestage) }}</label>
                        {{ form_widget(form.typestage,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.typestage) }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div >
                        <label>{{ form_label(form.modetravail) }}</label>
                        {{ form_widget(form.modetravail,{'attr':{'class':'form-control'}}) }}

                        {{ form_errors(form.modetravail) }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div>
                        <label>  {{ form_label(form.dateexpiration) }}</label>
                        {{ form_widget(form.dateexpiration,{'attr':{'class':'form-control'}}) }}

                        {{ form_errors(form.dateexpiration) }}

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div >
                        <label> {{ form_label(form.dureestage) }}</label>

                        {{ form_widget(form.dureestage,{'attr':{'class':'form-control'}}) }}
                        <span style="color:red">     {{ form_errors(form.dureestage) }}</span>


                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div >
                    <label>{{ form_label(form.lieu) }}</label>
                    {{ form_widget(form.lieu,{'attr':{'class':'form-control'}}) }}
                    {{ form_errors(form.lieu) }}

                </div>
            </div>
            <div class="col-lg-12">
                <div >
                    <label>    {{ form_label(form.description) }}

                    </label>
                    {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}

                    <span style="color:red"> {{ form_errors(form.description) }}
                </div>
            </div>




        {% endif %}


            {% if  type  == "Freelancer" %}




                <div class="row">
                    <div class="col-lg-24">
                        <div>

                            <label>{{ form_label(form.titre) }}</label>
                            {{ form_widget(form.titre,{'attr':{'class':'form-control'}}) }}
                            <span style="color:red">    {{ form_errors(form.titre) }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div >

                            <label>{{ form_label(form.salaire) }}</label>
                            {{ form_widget(form.salaire,{'attr':{'class':'form-control'}}) }}
                            <span style="color:red">    {{ form_errors(form.salaire) }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div >
                            <label>{{ form_label(form.dureestage) }}</label>
                            {{ form_widget(form.dureestage,{'attr':{'class':'form-control'}}) }}

                            <span style="color:red">  {{ form_errors(form.dureestage) }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div>
                            <label>  {{ form_label(form.dateexpiration) }}</label>
                            {{ form_widget(form.dateexpiration,{'attr':{'class':'form-control'}}) }}

                            {{ form_errors(form.dateexpiration) }}

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div >
                            <label> {{ form_label(form.modetravail) }}</label>

                            {{ form_widget(form.modetravail,{'attr':{'class':'form-control','placeholder': 'Exp:Entre 1500 et 2500'}}) }}
                            <span style="color:red">     {{ form_errors(form.modetravail) }}</span>


                        </div>
                    </div>

                </div>
                <div class="col-lg-12">
                    <div >
                        <label>{{ form_label(form.lieu) }}</label>
                        {{ form_widget(form.lieu,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.lieu) }}

                    </div>
                </div>
                <div class="col-lg-12">
                    <div >
                        <label>    {{ form_label(form.description) }}

                        </label>
                        {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}

                        <span style="color:red"> {{ form_errors(form.description) }}</span>
                    </div>
                </div>




        {% endif %}

            {% if  type  == "Emploi" %}

                <div class="row">
                    <div class="col-lg-24">
                        <div>

                            <label>{{ form_label(form.titre) }}</label>
                            {{ form_widget(form.titre,{'attr':{'class':'form-control'}}) }}
                            <span style="color:red">    {{ form_errors(form.titre) }}</span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div >

                            <label>{{ form_label(form.typecontrat) }}</label>
                            {{ form_widget(form.typecontrat,{'attr':{'class':'form-control'}}) }}
                            {{ form_errors(form.typecontrat) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div >
                            <label>{{ form_label(form.modetravail) }}</label>
                            {{ form_widget(form.modetravail,{'attr':{'class':'form-control'}}) }}

                            {{ form_errors(form.modetravail) }}
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div>
                            <label>  {{ form_label(form.dateexpiration) }}</label>
                            {{ form_widget(form.dateexpiration,{'attr':{'class':'form-control'}}) }}

                            {{ form_errors(form.dateexpiration) }}

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div >
                            <label> {{ form_label(form.salaire) }}</label>

                            {{ form_widget(form.salaire,{'attr':{'class':'form-control','placeholder': 'Exp:Entre 1500 et 2500'}}) }}
                            <span style="color:red">     {{ form_errors(form.salaire) }}</span>


                        </div>
                    </div>

                </div>
                <div class="col-lg-12">
                    <div >
                        <label>{{ form_label(form.lieu) }}</label>
                        {{ form_widget(form.lieu,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(form.lieu) }}

                    </div>
                </div>
                <div class="col-lg-12">
                    <div >
                        <label>    {{ form_label(form.description) }}

                        </label>
                        {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}

                        <span style="color:red"> {{ form_errors(form.description) }}
                    </div>
                </div>








            {% endif %}


    {% if test != -1%}
        <div>

            {{ form_widget(form.test) }}
            {{ form_rest(form) }}
            {{ form_end(form) }}

            {{ include('test/_delete_form.html.twig') }}
            <br>
            <div class="col-lg-12 button">
                   <button type="submit" class="btn">{{ button_label|default('Modifier') }}</button>
                    </div>
        </div>
        {% else %}

            <div>
 <div id="test" data-prototype="{{ form_row(form.test.vars.prototype) | e('html_attr') }}">
        {{ form_widget(form.test) }}


        <span class="btn-light">

    </span>
    </div>
               <br>
 <div class="col-lg-12 button">
                   <button type="submit" class="btn">{{ button_label|default('Modifier') }}</button>
                    </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}


            </div>
    {% endif %}

 {% block classJobinfo %}{% endblock %}">
    {% block jobinformation %}{% endblock %}
{% endblock %}
{% block javascriptTest %}
    <script>
        let collection, btnAjout, span;
        window.onload = () => {
            collection = document.querySelector("#test");
            span = collection.querySelector("span");
            btnAjout = document.createElement("button");
            btnAjout.className = "btn btn-secondary";
            btnAjout.innerText = "Ajouter un test";

            let nouvBtn = span.append(btnAjout);

            collection.dataset.index = collection.querySelectorAll("input").length;

            btnAjout.addEventListener("click", function (e) {
                e.preventDefault();
                addButton(collection, nouvBtn);
            });

        }

        function addButton(collection, nouvBtn) {
            let prototype = collection.dataset.prototype;

            let index = collection.dataset.index;

            prototype = prototype.replace(/__name__/g, index);

            let content = document.createElement("html");
            content.innerHTML = prototype;
            let newform = content.querySelector("div");

            let btnSupp = document.createElement("button");
            btnSupp.type = "button";
            btnSupp.className = "btn btn-danger";
            btnSupp.id = "delete_test-" + index;
            btnSupp.innerText = "Supprimer le test";
            newform.append(btnSupp);

            collection.dataset.index++;

            let btnAjout = collection.querySelector(".btn-secondary");
            span.insertBefore(newform, btnAjout);

            btnSupp.addEventListener("click", function () {
                this.previousElementSibling.parentElement.remove()
            })

        }


    </script>
{% endblock %}