{% extends 'offre/templateoffre.html.twig' %}
{% set type ="" %}
{% block container %}
    <br>

    Créer une offre
{% endblock %}

{% block section %}
<section class="job-post section">

    <div id="all">
        {% endblock %}
        {% block jobinformation %}
            <center><h4>Choisisez le type d'offre a ajouter</h4></center><br>{% endblock %}
        {% block body %}
        <br>
        <div id="all">


                <span style="width: 33%">
        <div style="text-align: center;">
    <a id="Stage" class="btn btn-primary" href="{{ path('app_offre_new',{'type':types.0}) }}">{{ types.0 }}</a>
</div></span>

            <span style="width: 33%">
        <div style="text-align: center;">
    <a id="Emploi" class="btn btn-primary" href="{{ path('app_offre_new',{'type':types.1}) }}">{{ types.1 }}</a>
</div></span>

            <span style="width: 33%">
        <div style="text-align: center;">
    <a id="Freelancer" class="btn btn-primary" href="{{ path('app_offre_new',{'type':types.2}) }}">{{ types.2 }}</a>
</div></span>
        </div>
    </div>
    <div id="replace"></div>
</section>
{% endblock %}
{% block javascriptTest %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>

<script>
    $(document).ready(function () {
        $("#Stage").click(function (e) {

            $.ajax({
                url: "{{ path('app_offre_new',{'type':types.1}) }}",
                type: 'GET,POST',

                success: function (retour) {
                    if (retour) {
                        $('div#list1').empty();
                        $.each(JSON.parse(retour), function (i, obj) {
                            $('div#calendar').hide();
                            $('div#list1').show();
                            $('div#list1').append(' '
                            )
                        });
                    }
                    if (!retour) {
                        $('div#list1').empty();
                        $('div#calendar').hide();
                        $('div#list1').show();
                        $('div#list1').append('<p>hellooooooooooooooo</p>')

                    }
                },
            });
            return false;
        });
    {% endblock %}



