<!DOCTYPE html>
<!-- saved from url=(0094)file:///C:/Users/Exon/Desktop/Post%20Job%20-%20JobGrids%20Job%20Portal%20HTML%20Template..html -->
<html class="no-js" lang="zxx">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Post Job - JobGrids Job Portal HTML Template.{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% block addCss %}
    {% endblock %}
    <link href="{{ asset('assets/jobPost/css2.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/jobPost/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/jobPost/LineIcons.2.0.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/jobPost/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/jobPost/tiny-slider.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/jobPost/glightbox.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/jobPost/main.css') }}">
    <style type="text/css">
        @font-face {
            font-family: Roboto;
            src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
        }
    </style>
</head>

<body>

<div id="loading-area" style="opacity: 0; display: none;"></div>

<header class="header">
    <div class="navbar-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand logo" href="#">
                            <img class="logo1" src="{{asset('assets/logo.png')}}" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="active" href="">Home</a>
                                </li>
                                <li class="nav-item"><a href="{{path('app_reclamation_index')}}">Reclamation </a></li>
                                <li class="nav-item"><a href="#">Contact</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a href="#">About Us</a>
                                    <ul class="sub-menu">
                                        <li><a href="{{path('contacter_cours')}}">Maps</a></li>
                                    </ul>

                                </li>

                            </ul>
                        </div>

                        <div class="button">
                            <a href="{{ path('app_logout') }}"   class="btn">Déconnecter</a>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
    </div>

</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% block all %}
{% endblock %}
{% block cour %}
<div class="breadcrumbs overlay">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">{% block container %}Post a Job{% endblock %}</h1>
                    <p>Business plan draws on a wide range of knowledge from different business<br> disciplines.
                        Business draws on a wide range of different business .</p>
                </div>
                <ul class="breadcrumb-nav">
                    <li><a href="{{ path('app_offre_index') }}">Offres</a></li>
                    <li><a href="{{ path('app_offre_show_typeOffre') }}">Créer une offre</a></li>
                    <li><a href="{{ path('app_entretien_cal') }}">Entretiens</a></li>
                    <li><a href="{{ path('app_evennement_index') }}">Evénement</a></li>


                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block entretien %}
{% endblock %}

{% block section %}
{% endblock %}
{% block tableau %}
    <div class="container">

        <div class="row">

            <div class="col-lg-10 offset-lg-1 col-12">
                {% block retour %}
                {% endblock %}

                <div class="{% block classJobinfo %}job-information{% endblock %}">
                    <h3 class="title">{% block jobinformation %}Job Information{% endblock %}</h3>
                    {% block body %}

                    {% endblock %}
                    {% block test %}
                    {% endblock %}
                    <div class="col-lg-12 button">
                        {% block btn %}

                        {% endblock %}
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}
</section>

<div class="browse-resumes section">
    {% block retour2 %}
    {% endblock %}
    <div class="container">
        <div class="resume-inner">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-12">
                    <div class="inner-content">
                        {% block applications %}

                        {% endblock %}


                    </div>
                    {% block pagination %}
                        <div class="pagination center">
                            <ul class="pagination-list">
                                <li><a href="#"><i class="lni lni-arrow-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="lni lni-arrow-right"></i></a></li>
                            </ul>
                        </div>
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade form-modal" id="login" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog max-width-px-840 position-relative">
        <button type="button"
                class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
                data-dismiss="modal"><i class="lni lni-close"></i></button>
        <div class="login-modal-main">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row">
                        <div class="heading">
                            <h3>Login From Here</h3>
                            <p>Log in to continue your account <br> and explore new jobs.</p>
                        </div>
                        <div class="social-login">
                            <ul>
                                <li><a class="linkedin" href="https://157781.cc/post-job.html#"><i
                                                class="lni lni-linkedin-original"></i> Log in
                                        with LinkedIn</a></li>
                                <li><a class="google" href="https://157781.cc/post-job.html#"><i
                                                class="lni lni-google"></i> Log in with
                                        Google</a></li>
                                <li><a class="facebook" href="https://157781.cc/post-job.html#"><i
                                                class="lni lni-facebook-original"></i> Log in
                                        with Facebook</a></li>
                            </ul>
                        </div>
                        <div class="or-devider">
                            <span>Or</span>
                        </div>
                        <form action="https://157781.cc/">
                            <div class="form-group">
                                <label for="email" class="label">E-mail</label>
                                <input type="email" class="form-control" placeholder="example@gmail.com" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">Remember password</label>
                                </div>
                                <a href="https://157781.cc/post-job.html"
                                   class="font-size-3 text-dodger line-height-reset">Forget Password</a>
                            </div>
                            <div class="form-group mb-8 button">
                                <button class="btn ">Log in
                                </button>
                            </div>
                            <p class="text-center create-new-account">Don’t have an account? <a
                                        href="https://157781.cc/post-job.html#">Create a free account</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade form-modal" id="signup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog max-width-px-840 position-relative">
        <button type="button"
                class="circle-32 btn-reset bg-white pos-abs-tr mt-md-n6 mr-lg-n6 focus-reset z-index-supper"
                data-dismiss="modal"><i class="lni lni-close"></i></button>
        <div class="login-modal-main">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="row">
                        <div class="heading">
                            <h3>Create a free Account <br> Today</h3>
                            <p>Create your account to continue <br> and explore new jobs.</p>
                        </div>
                        <div class="social-login">
                            <ul>
                                <li><a class="linkedin" href="https://157781.cc/post-job.html#"><i
                                                class="lni lni-linkedin-original"></i> Import from LinkedIn</a></li>
                                <li><a class="google" href="https://157781.cc/post-job.html#"><i
                                                class="lni lni-google"></i> Import from
                                        Google</a></li>
                                <li><a class="facebook" href="https://157781.cc/post-job.html#"><i
                                                class="lni lni-facebook-original"></i> Import from Facebook</a></li>
                            </ul>
                        </div>
                        <div class="or-devider">
                            <span>Or</span>
                        </div>
                        <form action="https://157781.cc/">
                            <div class="form-group">
                                <label for="email" class="label">E-mail</label>
                                <input type="email" class="form-control" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="label">Confirm Password</label>
                                <div class="position-relative">
                                    <input type="password" class="form-control" placeholder="Enter password">
                                </div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <label class="form-check-label" for="flexCheckDefault">Agree to the <a
                                                href="https://157781.cc/post-job.html#">Terms &amp;
                                            Conditions</a></label>
                                </div>
                            </div>
                            <div class="form-group mb-8 button">
                                <button class="btn ">Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="download-text">
                        <h3>Téléchargez notre meilleure application</h3>
                        <p>Téléchargez notre application de bureau et profitez d'un usage local sans intermédiaire .</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="download-button">
                        <div class="button">
                            <a class="btn" href="https://www.mediafire.com/#" target="_blank"><i class="lni lni-apple"></i> Media File</a>
                            <a class="btn" href="https://drive.google.com/#" target="_blank"><i class="lni lni-play-store"></i> Google Drive</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">

                    <div class="f-about single-footer">
                        <div class="logo">
                            <a href="firstpage"><img src="{{asset('assets/logo.png')}}" alt="Logo"></a>
                        </div>
                        <p>Start building your creative website with our awesome template Massive.</p>
                        <ul class="contact-address">
                            <li><span>Address:</span> 555 Wall Street, USA, NY</li>
                            <li><span>Email:</span> example@apus.com</li>
                            <li><span>Call:</span> 555-555-1234</li>
                        </ul>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="lni lni-facebook-original"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">

                            <div class="single-footer f-link">
                                <h3>For Candidates</h3>
                                <ul>
                                    <li><a href="#">User Dashboard</a></li>
                                    <li><a href="#">CV Packages</a></li>
                                    <li><a href="#">Jobs Featured</a></li>
                                    <li><a href="#">Jobs Urgent</a></li>
                                    <li><a href="#">Candidate List</a></li>
                                    <li><a href="#">Candidates Grid</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-12">

                            <div class="single-footer f-link">
                                <h3>For Employers</h3>
                                <ul>
                                    <li><a href="#">Post New</a></li>
                                    <li><a href="#">Employer List</a></li>
                                    <li><a href="#">Employers Grid</a></li>
                                    <li><a href="#">Job Packages</a></li>
                                    <li><a href="#">Jobs Listing</a></li>
                                    <li><a href="#">Jobs Featured</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4 col-md-6 col-12">

                            <div class="single-footer newsletter">
                                <h3>Join Our Newsletter</h3>
                                <p>Subscribe to get the latest jobs posted, candidates...</p>
                                <form action="https://157781.cc/mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                    <input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder =&#39;Your email address&#39;" required="" type="email">
                                    <div class="button">
                                        <button class="btn">Envoyer ! <span class="dir-part"></span></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="left">
                            <p>Droits d'auteur © 2022.JOB.TN .Tous les droits sont réservés</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="right">
                            <ul>
                                <li><a href="#">Conditions d'utilisation</a></li>
                                <li><a href="#">Politique de confidentialité</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
{% endblock %}

{% block scrolltop %}
    <a href="https://157781.cc/index2.html#" class="scroll-top btn-hover" style="display: none;">
        <i class="lni lni-chevron-up"></i>
    </a>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/bootstrap.min.js.téléchargé')}}"></script>
    <script src="{{asset('assets/wow.min.js.téléchargé')}}"></script>
    <script src="{{asset('assets/tiny-slider.js.téléchargé')}}"></script>
    <script src="{{asset('assets/glightbox.min.js.téléchargé')}}"></script>
    <script src="{{asset('assets/main.js.téléchargé')}}"></script>
{% endblock %}

{% block slider %}
<script type="text/javascript">

    //====== Clients Logo Slider
    tns({
        container: '.client-logo-carousel',
        slideBy: 'page',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 15,
        nav: false,
        controls: false,
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 2,
            },
            768: {
                items: 3,
            },
            992: {
                items: 4,
            },
            1170: {
                items: 6,
            }
        }
    });
    //========= testimonial
    tns({
        container: '.testimonial-slider',
        items: 1,
        slideBy: 'page',
        autoplayButtonOutput: false,
        autoplay: true,
        mouseDrag: true,
        gutter: 0,
        nav: false,
        controls: true,
        controlsText: ['<i class="lni lni-arrow-left"></i>', '<i class="lni lni-arrow-right"></i>'],
        responsive: {
            0: {
                items: 1,
            },
            540: {
                items: 1,
            },
            768: {
                items: 1,
            },
            992: {
                items: 1,
            },
            1170: {
                items: 1,
            }
        }
    });

    //======== Home Slider
    var slider = new tns({
        container: '.home-slider',
        slideBy: 'page',
        autoplay: true,
        autoplayButtonOutput: false,
        mouseDrag: true,
        gutter: 0,
        items: 1,
        nav: false,
        controls: true,
        controlsText: [
            '<i class="lni lni-arrow-left prev"></i>',
            '<i class="lni lni-arrow-right next"></i>'
        ],
        responsive: {
            1200: {
                items: 1,
            },
            992: {
                items: 1,
            },
            0: {
                items: 1,
            }

        }
    });
</script>
{% endblock %}
<iframe src="{{asset('assets/saved_resource.html')}}" style="display: none;">

</iframe>

{% block btnUp %}
    <a href="#" class="scroll-top btn-hover" style="display: flex;">
        <i class="lni lni-chevron-up"></i>
    </a>
{% endblock %}

{% block javascriptTest %}


    <script src="{{ asset('assets/jobPost/bootstrap.min.js.téléchargement') }}"></script>
    <script src="{{ asset('assets/jobPost/wow.min.js.téléchargement') }}"></script>
    <script src="{{ asset('assets/jobPost/tiny-slider.js.téléchargement') }}"></script>
    <script src="{{ asset('assets/jobPost/glightbox.min.js.téléchargement') }}"></script>
    <script src="{{ asset('assets/jobPost/main.js.téléchargement') }}"></script>
{% endblock %}
</body>

</html>